<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.BankGrantInfoSelectDao">
	
	<select id="selectBanks" resultType="com.sinosoft.service.business.ui.bankInstitutionManage.bean.ProvinceCityBean">
		select 
			comcode as cityCode,
			comname as cityName
 		from ldcom
 		where 
 			comcode in (select authorobj from laauthorize)
  			<!--  and comgrade = '01'-->
   			and validflag = '1'
	</select>
	
	<select id="selectInsuranceCompany" parameterType="String" 
		resultType="com.sinosoft.service.business.ui.bankInstitutionManage.bean.GrantInsuranceCompanySelectBean">
		select distinct
				 (select comcode
                   from ldcom d
                  where d.comcode = a.authorobj) as bankCode,
                (select c.comname from ldcom c where c.comcode = b.comcode) as bankName,
                (select d.agentcom
                   from lacom d
                  where d.agentCom = a.insurancecom) as insuranceCompanyCode,
                (select d.name
                   from lacom d
                  where d.agentCom = a.insurancecom) as insuranceCompanyName
		  from laauthorize a, ldcom b
		 where a.authorobj = b.comcode
		   and a.authortype = '2'
		   <if test="bankCode != null and bankCode !='' ">
		    and a.authorobj = #{bankCode}
		     order by a.authorobj
		   </if>
		  
		
			
	</select>

	<select id="selectInsuranceProductInfo" parameterType="String" 
		resultType="com.sinosoft.service.business.ui.bankInstitutionManage.bean.GrantInsuranceCompanySelectBean">
	
			select 
				a.riskcode as insuranceProductInfoCode, 
				b.riskname as insuranceProductInfoName
		  from 
		  		laauthorize a, lmrisk b
		 where 
		 		a.authortype = '2'
		 		and a.riskcode = b.riskcode
		 		and a.insurancecom = #{insuranceCompanyCode}
		  		and a.authorobj = #{bankCode}
	
	</select>



</mapper>