<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.CancelContApplyDao">
	<resultMap id="BaseResultMap"
		type="com.sinosoft.service.business.db.vo.CancelContApplyVo">
		<id column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="insur_code" jdbcType="VARCHAR" property="insureCom" />                
		<result column="cust_name" jdbcType="VARCHAR" property="custName" />
		<result column="prt_no" jdbcType="VARCHAR" property="prtNo" />
		<result column="cont_no" jdbcType="VARCHAR" property="contNo" />
		<result column="sum_prem" jdbcType="DECIMAL" property="sumPrem" />
		<result column="sum_amnt" jdbcType="DECIMAL" property="sumAmnt" />
	</resultMap>
																			
	<select id="queryByContNo1" parameterType="com.sinosoft.service.business.db.vo.CancelContApplyVo" resultMap="BaseResultMap">
		SELECT 
			a.uid as uid,c.cust_name,a.prt_no,a.cont_no,a.sum_prem,a.sum_amnt
		FROM
			 t_bs_cont a,t_bs_cont_appl b,t_bs_cust c
		WHERE 
			a.uid=b.cont_id AND b.cust_id=c.uid 
			AND a.prt_no = #{prtNo}
			AND a.cont_no = #{contNo}
			AND a.insur_code = #{insureCom}
			
		  <if test="prtNo!=null">
          and prt_no=#{prtNo}
          </if>
          <if test="contNo!=null">
          and cont_no=#{contNo}
          </if>
	</select>
	
	<select id="queryByContNo" parameterType="com.sinosoft.service.business.db.vo.CancelContApplyVo"  
		resultMap="BaseResultMap">
		SELECT 
			a.uid as uid,c.cust_name,a.prt_no,a.cont_no,a.sum_prem,a.sum_amnt
		FROM
			 t_bs_cont a,t_bs_cont_appl b,t_bs_cust c
		WHERE 
			a.uid=b.cont_id AND b.cust_id=c.uid 
			<if test="prtNo!=null">
	          and prt_no=#{prtNo}
	        </if>
	        <if test="contNo!=null">
	          and cont_no=#{contNo}
	        </if>
	</select>
	
</mapper>
