<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.CertifySectionSelectAddDao">
	
	
	<!-- 这是查询所有的sql -->
	
	<select id="selectAll" resultType="com.sinosoft.service.business.ui.certifysection.bean.lzcard">
	
		select (select name from lacom where agentcom = n) agentcom,
	           
	           (select codename
	              from ldcode
	             where code = c
	               and codetype = 'certifytype') certifytype,
	          
	           (select codename
	              from ldcode
	             where code = d
	               and codetype = 'certifystatus') certifystatus,
	           e certifystart,
	           f certifyend,
	           a bak1,
	           g checkoperator,
	           s id,
	          (select cityname from AREACODEFULL where citycode =  r) city
	      from (select '已用完' a,
	                   b.certifystart e,
	                   b.certifyend f,
	                   b.agentcom n,
	                   b.certifytype c,
	                   b.certifystatus d,
	                   b.checkoperator g,
	                   b.id s,
	                   b.city r
	              from lzcard b
	             where certifynum = '0'
	            union
	            select '未用完' a,
	                   b.certifystart e,
	                   b.certifyend f,
	                   b.agentcom n,
	                   b.certifytype c,
	                   b.certifystatus d,
	                   b.checkoperator g,
	                   b.id s,
	                   b.city r
	              from lzcard b
	             where certifynum != '0') 
	             
	             <where>
	             	
	             	<if test="insuranceCompany != null and insuranceCompany != ''">
	             		 n = #{insuranceCompany}
	             	</if>
	             	<if test="city != null and city != ''">
	             		and r = #{city}
	             	</if>
	             	
	             </where>
		
	</select>
	
	
	<!-- 这是单证号段添加模块 -->
	
		<!-- 1.这是保险公司查询sql -->
		<select id="selectInsCom" resultType="com.sinosoft.service.business.ui.certifysection.bean.CertifySectiontInsuranceCom">
			select agentcom,name from lacom  where states='3' order by agentcom
		</select>
		
		
		<!-- 2.这是单证号段状态查询sql-->
		<select id="selectCertifyStatus" resultType="com.sinosoft.service.business.ui.certifysection.bean.CertifySectionCertiType">
			select Code, CodeName from ldcode where  codetype = 'certifystatus' order by Code
		</select>
		
		<!-- 3.check号段是否有冲突 -->
		<select id="check" parameterType="String"
			resultType="com.sinosoft.service.business.ui.certifysection.bean.lzcard">
			(select  certifystart,certifyend from lzcard where agentcom = #{agentcom})
		  
			union 
			(select  certifystart,certifyend from lzcardA where agentcom = #{agentcom})
			
		</select>
		
		<insert id="add" parameterType="com.sinosoft.service.business.ui.certifysection.bean.lzcard">
		
		    insert into LZCARDA (ID, AGENTCOM, MANAGECOM, 
		      CERTIFYTYPE, CERTIFYCODE, CERTIFYSTATUS, 
		      CERTIFYSTART, CERTIFYEND, OPERATOR, 
		      WAITSTATUS, MODIFYSTATUS, CERTIFYNO, 
		      CERTIFYNUM, MAKEDATE, MAKETIME, 
		      MODIFYDATE, MODIFYTIME, BAK1, 
		      BAK2, BAK3, BAK4, BAK5, 
		      CERTIFYSTATUSFLAG, CITY)
		    values (LzcardA_sequence.nextval, #{agentcom,jdbcType=VARCHAR}, #{managecom,jdbcType=VARCHAR}, 
		      #{certifytype,jdbcType=VARCHAR}, #{certifycode,jdbcType=VARCHAR}, #{certifystatus,jdbcType=VARCHAR}, 
		      #{certifystart,jdbcType=VARCHAR}, #{certifyend,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
		      #{waitstatus,jdbcType=VARCHAR}, #{modifystatus,jdbcType=VARCHAR}, #{certifyno,jdbcType=VARCHAR}, 
		      #{certifynum,jdbcType=VARCHAR}, #{makedate,jdbcType=DATE}, #{maketime,jdbcType=VARCHAR}, 
		      #{modifydate,jdbcType=DATE}, #{modifytime,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, 
		      #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR}, #{bak5,jdbcType=VARCHAR}, 
		      #{certifystatusflag,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR})
		
		</insert>
	
</mapper>
