<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.detailallDao">
	<resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.detailallVo">
   <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="transno" jdbcType="VARCHAR" property="transno" />
    <result column="staffid" jdbcType="TIMESTAMP" property="staffid" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="descs" jdbcType="VARCHAR" property="descs" />
    <result column="fileid" jdbcType="VARCHAR" property="fileid" />
    <result column="makedate" jdbcType="TIMESTAMP" property="makedate" />
    <result column="maketime" jdbcType="VARCHAR" property="maketime" />
  </resultMap>
    <sql id="Base_Column_List">
    transno,staffid,flag,descs,fileid,operator,makedate,maketime
  </sql>
  
  
  <select id="QueryA" resultMap="BaseResultMap"  parameterType="com.sinosoft.service.business.db.vo.HolidayVo">
    select <include refid="Base_Column_List" />  from holidaya
    where 1=1
     <if test="startdate != null">
	        and holiday &gt;= #{startdate}
	   	</if>    
		<if test="enddate != null">
	        and holiday &lt;= #{enddate}
	   	</if>
	   	<if test="seqnumber != null">
	        and seqnumber= #{seqnumber}
	   	</if>
       order by holiday
  </select>
  
  
  <delete id="deleteHolidyA" parameterType="com.sinosoft.service.business.db.vo.HolidayVo">
   delete from holidaya where holiday like concat(concat('%',#{holiday}),'%')
  </delete>
  
    <select id="Query" resultMap="BaseResultMap"  parameterType="com.sinosoft.service.business.db.vo.HolidayVo">
    select <include refid="Base_Column_List" />  from holiday
    where 1=1 and   seqnumber not in (select bak1 from holidaya where bak1!=' ')
     <if test="startdate != null">
	        and holiday &gt;= #{startdate}
	   	</if>    
		<if test="enddate != null">
	        and holiday &lt;= #{enddate}
	   	</if>
	   	<if test="seqnumber != null">
	        and seqnumber= #{seqnumber}
	   	</if>
       order by holiday
  </select>
  
  
  
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.detailallVo">
	  insert into detailall(transno,staffid,flag,operator,descs,fileid,makedate,maketime) 
	  values(#{transno,jdbcType=VARCHAR},#{staffid,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},
	  #{operator,jdbcType=VARCHAR},#{descs,jdbcType=VARCHAR},#{fileid,jdbcType=VARCHAR},#{makedate,jdbcType=TIMESTAMP},#{maketime,jdbcType=VARCHAR})
  </insert>
  
    <insert id="insertA" parameterType="com.sinosoft.service.business.db.vo.HolidayVo">
	  insert into holidaya(seqnumber,holiday,flag,operator,bak1,bak2,bak3) 
	  values(ho_sequence.nextval,#{holiday,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR},#{bak1,jdbcType=VARCHAR},#{bak2,jdbcType=VARCHAR},#{bak3,jdbcType=VARCHAR})
  </insert>
  
    <insert id="insertB" parameterType="com.sinosoft.service.business.db.vo.HolidayVo">
	  insert into holidayb(seqnumber,holiday,flag,operator,bak1,bak2,bak3) 
	  values(ho_sequence.nextval,#{holiday,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR},#{bak1,jdbcType=VARCHAR},#{bak2,jdbcType=VARCHAR},#{bak3,jdbcType=VARCHAR})
  </insert>
  
  <delete id="delete"  parameterType="com.sinosoft.service.business.db.vo.HolidayVo">
      delete from holiday where seqnumber=#{seqnumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteA"  parameterType="com.sinosoft.service.business.db.vo.HolidayVo">
     delete from holidaya where holiday=#{holiday,jdbcType=VARCHAR}
  </delete>




<update id="checkA" parameterType="com.sinosoft.service.business.db.vo.HolidayVo">
  update holidaya
   <set>
      <if test="flag != null">
        flag= #{flag,jdbcType=VARCHAR},
      </if>
     </set>
    where seqnumber=#{seqnumber,jdbcType=VARCHAR}

  </update>	
  



 
	<update id="update" parameterType="com.sinosoft.service.business.db.vo.HolidayVo">
    update holiday
    <set>
      <if test="bak3 != null">
        bak3= #{bak3,jdbcType=VARCHAR},
      </if>
       
     </set>
    where seqnumber=#{seqnumber,jdbcType=VARCHAR}

  </update>	 

  </mapper>