<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.laqualidetailMapper">
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.laqualidetailVo">
    <result column="STAFFID" jdbcType="VARCHAR" property="staffid" />
    <result column="CERTIFICATE" jdbcType="VARCHAR" property="certificate" />
    <result column="GETDATE" jdbcType="DATE" property="getdate" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="MAKEDATE" jdbcType="DATE" property="makedate" />
    <result column="MAKETIME" jdbcType="VARCHAR" property="maketime" />
    <result column="MODIFYDATE" jdbcType="DATE" property="modifydate" />
    <result column="MODIFYTIME" jdbcType="VARCHAR" property="modifytime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.laqualidetailVo">
    insert into LAQUALIDETAIL (STAFFID, CERTIFICATE, GETDATE, 
      STATUS, MAKEDATE, MAKETIME, 
      MODIFYDATE, MODIFYTIME)
    values (#{staffid,jdbcType=VARCHAR}, #{certificate,jdbcType=VARCHAR}, #{getdate,jdbcType=DATE}, 
      #{status,jdbcType=VARCHAR}, #{makedate,jdbcType=DATE}, #{maketime,jdbcType=VARCHAR}, 
      #{modifydate,jdbcType=DATE}, #{modifytime,jdbcType=VARCHAR})
  </insert>
  
  
    <select id="QueryByqualifitype" resultMap="BaseResultMap"  parameterType="com.sinosoft.service.business.db.vo.laqualidetailVo">
   select * from laqualidetail a where a.certificate in(select q.certificate from laqualiinfo q where q.qualifitype=#{mygetdate}) and staffid=#{staffid}
   </select>
  

<!--   <update id="update" parameterType="com.sinosoft.service.business.db.vo.laqualidetailVo">
    update LAQUALIDETAIL
    <set>

      <if test="getdate != null">
        GETDATE=#{getdate},
      </if>
      <if test="status != null">
        STATUS=#{status},
      </if>
      <if test="makedate != null">
        MAKEDATE={makedate},
      </if>
      <if test="maketime != null">
        MAKETIME=#{maketime},
      </if>
      <if test="modifydate != null">
        MODIFYDATE=#{modifydate},
      </if>
      <if test="modifytime != null">
        MODIFYTIME=#{modifytime},
      </if>
  
    </set>
    where STAFFID=#{staffid} and CERTIFICATE=#{certificate}
 </update> -->
 
 
  <update id="update" parameterType="com.sinosoft.service.business.db.vo.laqualidetailVo">
    update laqualidetail
    <set>
      <if test="getdate != null">
        GETDATE = #{getdate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null">
        MAKEDATE = #{makedate,jdbcType=DATE},
      </if>
      <if test="maketime != null">
        MAKETIME = #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        MODIFYDATE = #{modifydate,jdbcType=DATE},
      </if>
      <if test="modifytime != null">
        MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where STAFFID = #{staffid,jdbcType=VARCHAR} and CERTIFICATE=#{certificate,jdbcType=VARCHAR}
  </update>
  
 
  
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.db.vo.laqualidetailVo">
    insert into LAQUALIDETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffid != null">
        STAFFID,
      </if>
      <if test="certificate != null">
        CERTIFICATE,
      </if>
      <if test="getdate != null">
        GETDATE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="makedate != null">
        MAKEDATE,
      </if>
      <if test="maketime != null">
        MAKETIME,
      </if>
      <if test="modifydate != null">
        MODIFYDATE,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffid != null">
        #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="getdate != null">
        #{getdate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null">
        #{makedate,jdbcType=DATE},
      </if>
      <if test="maketime != null">
        #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=DATE},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>