<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.laqualificationMapper">
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.laqualificationVo">
    <result column="STAFFID" jdbcType="VARCHAR" property="staffid" />
    <result column="QUALIFITYPE" jdbcType="VARCHAR" property="qualifitype" />
    <result column="EFFECTIVEDATE" jdbcType="DATE" property="effectivedate" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="MAKEDATE" jdbcType="DATE" property="makedate" />
    <result column="MAKETIME" jdbcType="VARCHAR" property="maketime" />
    <result column="MODIFYDATE" jdbcType="DATE" property="modifydate" />
    <result column="MODIFYTIME" jdbcType="VARCHAR" property="modifytime" />
  </resultMap>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.laqualificationVo">
    insert into LAQUALIFICATION (STAFFID, QUALIFITYPE, EFFECTIVEDATE, 
      STATUS, MAKEDATE, MAKETIME, 
      MODIFYDATE, MODIFYTIME)
    values (#{staffid,jdbcType=VARCHAR}, #{qualifitype,jdbcType=VARCHAR}, #{effectivedate,jdbcType=DATE}, 
      #{status,jdbcType=VARCHAR}, #{makedate,jdbcType=DATE}, #{maketime,jdbcType=VARCHAR}, 
      #{modifydate,jdbcType=DATE}, #{modifytime,jdbcType=VARCHAR})
  </insert>
  
  <select id="QueryType" resultType="com.sinosoft.service.business.db.vo.SYSUserVo" parameterType="java.lang.String">
       select emplid from lduser where emplid=#{emplid}
  </select>
  
   <select id="QueryByemplid" resultType="com.sinosoft.service.business.db.vo.SYSUserVo"  parameterType="java.lang.String">
      select emplid from lduser where emplid=#{emplid}
  </select>
  <select id="QueryByqualifitype" resultType="com.sinosoft.service.business.db.vo.LaqualiinfoVo"  parameterType="java.lang.String">
     select *
  from laqualiinfo i
 where i.qualifitype =#{qualifitype}
  </select>
  
  <select id="SelectQu" parameterType="com.sinosoft.service.business.db.vo.laprodqualiVo" resultType="com.sinosoft.service.business.db.vo.LaqualiinfoVo">
select *
  from laqualiinfo i
 where i.qualifitype in
       (select l.qualifitype from laprodquali l where riskcode =#{riskcode})
   and i.certificatecode in
       (select i.certificatecode
          from laqualiinfo i
         where i.certificatecode in
               (select a.*
                  from ((select a.certificatecode
                           from laqualiinfo a
                          where a.certificatecode in
                                (select l.licensescode
                                   from laqualidetails l
                                  where l.staffid = #{staffid})) union
                        (select a.certificatecode
                           from laqualiinfo a
                          where a.certificatecode in
                                (select l.licensescode
                                   from externalgifts l
                                  where l.staffid = #{staffid}))
                                  union
                        (select a.certificatecode
                           from laqualiinfo a
                          where a.certificatecode in
                                (select t.coursecode 
                                from  latraining  t
                                 where t.staffid=#{staffid})
                                )) a))
  </select>
  
  <select  id="QuerLdNot"  parameterType="com.sinosoft.service.business.db.vo.laprodqualiVo" resultType="com.sinosoft.service.business.db.vo.laprodqualiVo">
  select l.qualifitype from laprodquali l where riskcode =#{riskcode} and l.qualifitype not in(select distinct(qualifitype)
  from laqualiinfo i
 where i.qualifitype  in
       (select l.qualifitype from laprodquali l where riskcode =#{riskcode}))
  
  </select>
  
  <select id="SelectQuNot" parameterType="com.sinosoft.service.business.db.vo.laprodqualiVo" resultType="com.sinosoft.service.business.db.vo.LaqualiinfoVo">
select distinct(i.qualifitype)
  from laqualiinfo i
 where i.qualifitype in
       (select l.qualifitype from laprodquali l where riskcode = #{riskcode})
   and i.certificatecode not in
       (select i.certificatecode
          from laqualiinfo i
         where i.certificatecode in
               (select a.*
                  from ((select a.certificatecode
                           from laqualiinfo a
                          where a.certificatecode in
                                (select l.licensescode
                                   from laqualidetails l
                                  where l.staffid =#{staffid})) union
                        (select a.certificatecode
                           from laqualiinfo a
                          where a.certificatecode in
                                (select l.licensescode
                                   from externalgifts l
                                  where l.staffid =#{staffid}))
                                  union
                        (select a.certificatecode
                           from laqualiinfo a
                          where a.certificatecode in
                                (select t.coursecode 
                                from  latraining  t
                                 where t.staffid=#{staffid})
                                )) a))

  </select>
  
  <select id="QueryMytype" parameterType="com.sinosoft.service.business.db.vo.laprodqualiVo" resultType="com.sinosoft.service.business.db.vo.laprodqualiVo">
  select * from LAPRODQUALI where riskcode =#{riskcode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectqualifitype" parameterType="com.sinosoft.service.business.db.vo.laprodqualiVo" resultType="com.sinosoft.service.business.db.vo.laprodqualiVo">
   select * from LAPRODQUALI where riskcode =#{riskcode,jdbcType=VARCHAR} and qualifitype not in (select distinct(qualifitype) from laqualification where staffid=#{qualifitype})
  </select>
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.db.vo.laqualificationVo">
    insert into LAQUALIFICATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffid != null">
        STAFFID,
      </if>
      <if test="qualifitype != null">
        QUALIFITYPE,
      </if>
      <if test="effectivedate != null">
        EFFECTIVEDATE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="makedate != null">
        MAKEDATE,
      </if>
      <if test="maketime != null">
        MAKETIME,
      </if>
      <if test="modifydate != null">
        MODIFYDATE,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffid != null">
        #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="qualifitype != null">
        #{qualifitype,jdbcType=VARCHAR},
      </if>
      <if test="effectivedate != null">
        #{effectivedate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null">
        #{makedate,jdbcType=DATE},
      </if>
      <if test="maketime != null">
        #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=DATE},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>