<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.service.business.db.dao.lcaddressVoMapper" >
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.lcaddressVo" >
    <id column="TRANSNO" property="transno" jdbcType="VARCHAR" />
    <id column="CUSTOMERNO" property="customerno" jdbcType="VARCHAR" />
    <id column="ADDRESSNO" property="addressno" jdbcType="DECIMAL" />
    <result column="POSTALADDRESS" property="postaladdress" jdbcType="VARCHAR" />
    <result column="ZIPCODE" property="zipcode" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="HOMEADDRESS" property="homeaddress" jdbcType="VARCHAR" />
    <result column="HOMEZIPCODE" property="homezipcode" jdbcType="VARCHAR" />
    <result column="HOMEPHONE" property="homephone" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="MAKEDATE" property="makedate" jdbcType="VARCHAR" />
    <result column="MAKETIME" property="maketime" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="VARCHAR" />
    <result column="MODIFYTIME" property="modifytime" jdbcType="VARCHAR" />
     <result column="OTHERADDRESS" property="otheraddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TRANSNO, CUSTOMERNO, ADDRESSNO, POSTALADDRESS, ZIPCODE, PHONE, HOMEADDRESS, HOMEZIPCODE, 
    HOMEPHONE, MOBILE, EMAIL, OPERATOR, MAKEDATE, MAKETIME, MODIFYDATE, MODIFYTIME,OTHERADDRESS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sinosoft.service.business.db.vo.lcaddressVo" >
    select 
    <include refid="Base_Column_List" />
    from LCADDRESS
    where TRANSNO = #{transno,jdbcType=VARCHAR}
    and CUSTOMERNO=#{customerno,jdbcType=VARCHAR}
    and ADDRESSNO=#{addressno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.lcaddressVo" >
    delete from LCADDRESS
    where TRANSNO = #{transno,jdbcType=VARCHAR}
    and CUSTOMERNO=#{customerno,jdbcType=VARCHAR}
    and ADDRESSNO=#{addressno,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.lcaddressVo" >
    insert into LCADDRESS (TRANSNO, CUSTOMERNO, ADDRESSNO, 
      POSTALADDRESS, ZIPCODE, PHONE, 
      HOMEADDRESS, HOMEZIPCODE, HOMEPHONE, 
      MOBILE, EMAIL, OPERATOR, 
      MAKEDATE, MAKETIME, MODIFYDATE, 
      MODIFYTIME, OTHERADDRESS)
    values (#{transno,jdbcType=VARCHAR}, #{customerno,jdbcType=VARCHAR}, #{addressno,jdbcType=DECIMAL}, 
      #{postaladdress,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{homeaddress,jdbcType=VARCHAR}, #{homezipcode,jdbcType=VARCHAR}, #{homephone,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{makedate,jdbcType=VARCHAR}, #{maketime,jdbcType=VARCHAR}, #{modifydate,jdbcType=VARCHAR}, 
      #{modifytime,jdbcType=VARCHAR}, #{otheraddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.db.vo.lcaddressVo" >
     insert into LCADDRESS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transno != null" >
        TRANSNO,
      </if>
      <if test="customerno != null" >
        CUSTOMERNO,
      </if>
      <if test="addressno != null" >
        ADDRESSNO,
      </if>
      <if test="postaladdress != null" >
        POSTALADDRESS,
      </if>
      <if test="zipcode != null" >
        ZIPCODE,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="homeaddress != null" >
        HOMEADDRESS,
      </if>
      <if test="homezipcode != null" >
        HOMEZIPCODE,
      </if>
      <if test="homephone != null" >
        HOMEPHONE,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="makedate != null" >
        MAKEDATE,
      </if>
      <if test="maketime != null" >
        MAKETIME,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
      <if test="modifytime != null" >
        MODIFYTIME,
      </if>
      <if test="otheraddress != null" >
        OTHERADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transno != null" >
        #{transno,jdbcType=VARCHAR},
      </if>
      <if test="customerno != null" >
        #{customerno,jdbcType=VARCHAR},
      </if>
      <if test="addressno != null" >
        #{addressno,jdbcType=DECIMAL},
      </if>
      <if test="postaladdress != null" >
        #{postaladdress,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="homeaddress != null" >
        #{homeaddress,jdbcType=VARCHAR},
      </if>
      <if test="homezipcode != null" >
        #{homezipcode,jdbcType=VARCHAR},
      </if>
      <if test="homephone != null" >
        #{homephone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=VARCHAR},
      </if>
      <if test="maketime != null" >
        #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="otheraddress != null" >
        #{otheraddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.service.business.db.vo.lcaddressVo" >
    update LCADDRESS
    <set >
      <if test="postaladdress != null" >
        POSTALADDRESS = #{postaladdress,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="homeaddress != null" >
        HOMEADDRESS = #{homeaddress,jdbcType=VARCHAR},
      </if>
      <if test="homezipcode != null" >
        HOMEZIPCODE = #{homezipcode,jdbcType=VARCHAR},
      </if>
      <if test="homephone != null" >
        HOMEPHONE = #{homephone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        MAKEDATE = #{makedate,jdbcType=VARCHAR},
      </if>
      <if test="maketime != null" >
        MAKETIME = #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="otheraddress != null" >
        OTHERADDRESS = #{otheraddress,jdbcType=VARCHAR},
      </if>
    </set>
    where TRANSNO = #{transno,jdbcType=VARCHAR}
    and CUSTOMERNO=#{customerno,jdbcType=VARCHAR}
 	 and ADDRESSNO=#{addressno,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.lcaddressVo" >
    update LCADDRESS
    set POSTALADDRESS = #{postaladdress,jdbcType=VARCHAR},
      ZIPCODE = #{zipcode,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      HOMEADDRESS = #{homeaddress,jdbcType=VARCHAR},
      HOMEZIPCODE = #{homezipcode,jdbcType=VARCHAR},
      HOMEPHONE = #{homephone,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      MAKEDATE = #{makedate,jdbcType=VARCHAR},
      MAKETIME = #{maketime,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=VARCHAR},
      MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
      OTHERADDRESS = #{otheraddress,jdbcType=VARCHAR}
    where TRANSNO = #{transno,jdbcType=VARCHAR}
      and CUSTOMERNO = #{customerno,jdbcType=VARCHAR}
      and ADDRESSNO = #{addressno,jdbcType=DECIMAL}
  </update>
</mapper>