<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.service.business.db.dao.LcbnfVoDao" >
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.LcbnfVo" >
    <id column="POLNO" property="polno" jdbcType="VARCHAR" />
    <id column="INSUREDNO" property="insuredno" jdbcType="VARCHAR" />
    <id column="BNFTYPE" property="bnftype" jdbcType="VARCHAR" />
    <id column="BNFNO" property="bnfno" jdbcType="DECIMAL" />
    <id column="BNFGRADE" property="bnfgrade" jdbcType="VARCHAR" />
    <id column="TRANSNO" property="transno" jdbcType="VARCHAR" />
    <result column="CONTNO" property="contno" jdbcType="VARCHAR" />
    <result column="RELATIONTOINSURED" property="relationtoinsured" jdbcType="VARCHAR" />
    <result column="BNFLOT" property="bnflot" jdbcType="DECIMAL" />
    <result column="CUSTOMERNO" property="customerno" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
    <result column="IDTYPE" property="idtype" jdbcType="VARCHAR" />
    <result column="IDNO" property="idno" jdbcType="VARCHAR" />
    <result column="GETFORM" property="getform" jdbcType="VARCHAR" />
    <result column="GETBANKCODE" property="getbankcode" jdbcType="VARCHAR" />
    <result column="GETBANKACCNO" property="getbankaccno" jdbcType="VARCHAR" />
    <result column="GETACCNAME" property="getaccname" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="MAKEDATE" property="makedate" jdbcType="TIMESTAMP" />
    <result column="MAKETIME" property="maketime" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="MODIFYTIME" property="modifytime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    POLNO, INSUREDNO, BNFTYPE, BNFNO, BNFGRADE, TRANSNO, CONTNO, RELATIONTOINSURED, BNFLOT, 
    CUSTOMERNO, NAME, SEX, BIRTHDAY, IDTYPE, IDNO, GETFORM, GETBANKCODE, GETBANKACCNO, 
    GETACCNAME, OPERATOR, MAKEDATE, MAKETIME, MODIFYDATE, MODIFYTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from LCBNF
    where TRANSNO = #{transno,jdbcType=VARCHAR}
  </select>
  
  
  
    <select id="selectLcbnf" parameterType="com.sinosoft.service.business.db.vo.LcbnfVo" resultType="com.sinosoft.service.business.db.vo.LcbnfVo" >
    select 
    <include refid="Base_Column_List" />
    from LCBNF
    where TRANSNO = #{transno,jdbcType=VARCHAR}
    and BNFNO= #{bnfno,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey"  parameterType="String"  >
    delete from LCBNF
    where TRANSNO = #{transno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.LcbnfVo" >
    insert into LCBNF (POLNO, INSUREDNO, BNFTYPE, 
      BNFNO, BNFGRADE, TRANSNO, 
      CONTNO, RELATIONTOINSURED, BNFLOT, 
      CUSTOMERNO, NAME, SEX, 
      BIRTHDAY, IDTYPE, IDNO, 
      GETFORM, GETBANKCODE, GETBANKACCNO, 
      GETACCNAME, OPERATOR, MAKEDATE, 
      MAKETIME, MODIFYDATE, MODIFYTIME
      )
    values (#{polno,jdbcType=VARCHAR}, #{insuredno,jdbcType=VARCHAR}, #{bnftype,jdbcType=VARCHAR}, 
      #{bnfno,jdbcType=DECIMAL}, #{bnfgrade,jdbcType=VARCHAR}, #{transno,jdbcType=VARCHAR}, 
      #{contno,jdbcType=VARCHAR}, #{relationtoinsured,jdbcType=VARCHAR}, #{bnflot,jdbcType=DECIMAL}, 
      #{customerno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{idtype,jdbcType=VARCHAR}, #{idno,jdbcType=VARCHAR}, 
      #{getform,jdbcType=VARCHAR}, #{getbankcode,jdbcType=VARCHAR}, #{getbankaccno,jdbcType=VARCHAR}, 
      #{getaccname,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{makedate,jdbcType=TIMESTAMP}, 
      #{maketime,jdbcType=VARCHAR}, #{modifydate,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.db.vo.LcbnfVo" >
    insert into LCBNF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="polno != null" >
        POLNO,
      </if>
      <if test="insuredno != null" >
        INSUREDNO,
      </if>
      <if test="bnftype != null" >
        BNFTYPE,
      </if>
      <if test="bnfno != null" >
        BNFNO,
      </if>
      <if test="bnfgrade != null" >
        BNFGRADE,
      </if>
      <if test="transno != null" >
        TRANSNO,
      </if>
      <if test="contno != null" >
        CONTNO,
      </if>
      <if test="relationtoinsured != null" >
        RELATIONTOINSURED,
      </if>
      <if test="bnflot != null" >
        BNFLOT,
      </if>
      <if test="customerno != null" >
        CUSTOMERNO,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="idtype != null" >
        IDTYPE,
      </if>
      <if test="idno != null" >
        IDNO,
      </if>
      <if test="getform != null" >
        GETFORM,
      </if>
      <if test="getbankcode != null" >
        GETBANKCODE,
      </if>
      <if test="getbankaccno != null" >
        GETBANKACCNO,
      </if>
      <if test="getaccname != null" >
        GETACCNAME,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="makedate != null" >
        MAKEDATE,
      </if>
      <if test="maketime != null" >
        MAKETIME,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
      <if test="modifytime != null" >
        MODIFYTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="polno != null" >
        #{polno,jdbcType=VARCHAR},
      </if>
      <if test="insuredno != null" >
        #{insuredno,jdbcType=VARCHAR},
      </if>
      <if test="bnftype != null" >
        #{bnftype,jdbcType=VARCHAR},
      </if>
      <if test="bnfno != null" >
        #{bnfno,jdbcType=DECIMAL},
      </if>
      <if test="bnfgrade != null" >
        #{bnfgrade,jdbcType=VARCHAR},
      </if>
      <if test="transno != null" >
        #{transno,jdbcType=VARCHAR},
      </if>
      <if test="contno != null" >
        #{contno,jdbcType=VARCHAR},
      </if>
      <if test="relationtoinsured != null" >
        #{relationtoinsured,jdbcType=VARCHAR},
      </if>
      <if test="bnflot != null" >
        #{bnflot,jdbcType=DECIMAL},
      </if>
      <if test="customerno != null" >
        #{customerno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="idtype != null" >
        #{idtype,jdbcType=VARCHAR},
      </if>
      <if test="idno != null" >
        #{idno,jdbcType=VARCHAR},
      </if>
      <if test="getform != null" >
        #{getform,jdbcType=VARCHAR},
      </if>
      <if test="getbankcode != null" >
        #{getbankcode,jdbcType=VARCHAR},
      </if>
      <if test="getbankaccno != null" >
        #{getbankaccno,jdbcType=VARCHAR},
      </if>
      <if test="getaccname != null" >
        #{getaccname,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maketime != null" >
        #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.service.business.db.vo.LcbnfVo" >
    update LCBNF
    <set >
      <if test="contno != null" >
        CONTNO = #{contno,jdbcType=VARCHAR},
      </if>
      <if test="relationtoinsured != null" >
        RELATIONTOINSURED = #{relationtoinsured,jdbcType=VARCHAR},
      </if>
      <if test="bnflot != null" >
        BNFLOT = #{bnflot,jdbcType=DECIMAL},
      </if>
      <if test="customerno != null" >
        CUSTOMERNO = #{customerno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="idtype != null" >
        IDTYPE = #{idtype,jdbcType=VARCHAR},
      </if>
      <if test="idno != null" >
        IDNO = #{idno,jdbcType=VARCHAR},
      </if>
      <if test="getform != null" >
        GETFORM = #{getform,jdbcType=VARCHAR},
      </if>
      <if test="getbankcode != null" >
        GETBANKCODE = #{getbankcode,jdbcType=VARCHAR},
      </if>
      <if test="getbankaccno != null" >
        GETBANKACCNO = #{getbankaccno,jdbcType=VARCHAR},
      </if>
      <if test="getaccname != null" >
        GETACCNAME = #{getaccname,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        MAKEDATE = #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maketime != null" >
        MAKETIME = #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
      </if>
    </set>
    where POLNO = #{polno,jdbcType=VARCHAR}
      and INSUREDNO = #{insuredno,jdbcType=VARCHAR}
      and BNFTYPE = #{bnftype,jdbcType=VARCHAR}
      and BNFNO = #{bnfno,jdbcType=DECIMAL}
      and BNFGRADE = #{bnfgrade,jdbcType=VARCHAR}
      and TRANSNO = #{transno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.LcbnfVo" >
    update LCBNF
    set CONTNO = #{contno,jdbcType=VARCHAR},
      RELATIONTOINSURED = #{relationtoinsured,jdbcType=VARCHAR},
      BNFLOT = #{bnflot,jdbcType=DECIMAL},
      CUSTOMERNO = #{customerno,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      IDTYPE = #{idtype,jdbcType=VARCHAR},
      IDNO = #{idno,jdbcType=VARCHAR},
      GETFORM = #{getform,jdbcType=VARCHAR},
      GETBANKCODE = #{getbankcode,jdbcType=VARCHAR},
      GETBANKACCNO = #{getbankaccno,jdbcType=VARCHAR},
      GETACCNAME = #{getaccname,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      MAKEDATE = #{makedate,jdbcType=TIMESTAMP},
      MAKETIME = #{maketime,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      MODIFYTIME = #{modifytime,jdbcType=VARCHAR}
    where POLNO = #{polno,jdbcType=VARCHAR}
      and INSUREDNO = #{insuredno,jdbcType=VARCHAR}
      and BNFTYPE = #{bnftype,jdbcType=VARCHAR}
      and BNFNO = #{bnfno,jdbcType=DECIMAL}
      and BNFGRADE = #{bnfgrade,jdbcType=VARCHAR}
      and TRANSNO = #{transno,jdbcType=VARCHAR}
  </update>
</mapper>