<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.service.business.db.dao.LcinsuredVoMapper" >
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.LcinsuredVo" >
    <id column="CONTNO" property="contno" jdbcType="VARCHAR" />
    <id column="TRANSNO" property="transno" jdbcType="VARCHAR" />
    <result column="INSUREDNO" property="insuredno" jdbcType="VARCHAR" />
    <result column="PRTNO" property="prtno" jdbcType="VARCHAR" />
    <result column="APPNTNO" property="appntno" jdbcType="VARCHAR" />
    <result column="MANAGECOM" property="managecom" jdbcType="VARCHAR" />
    <result column="EXECUTECOM" property="executecom" jdbcType="VARCHAR" />
    <result column="RELATIONTOAPPNT" property="relationtoappnt" jdbcType="VARCHAR" />
    <result column="LCINSUREDNAME" property="lcinsuredname" jdbcType="VARCHAR" />
    <result column="LCINSUREDSEX" property="lcinsuredsex" jdbcType="VARCHAR" />
    <result column="LCINSUREDBIRTHDAY" property="lcinsuredbirthday" jdbcType="TIMESTAMP" />
    <result column="LCINSUREDIDTYPE" property="lcinsuredidtype" jdbcType="VARCHAR" />
    <result column="LCINSUREDIDNO" property="lcinsuredidno" jdbcType="VARCHAR" />
    <result column="INSUREIDENDDATE" property="insureidenddate" jdbcType="TIMESTAMP" />
    <result column="INSUREIDSTARTDATE" property="insureidstartdate" jdbcType="TIMESTAMP" />
    <result column="LCINSUREDNATIVEPLACE" property="lcinsurednativeplace" jdbcType="VARCHAR" />
    <result column="LCINSUREDIDSUBMIT" property="lcinsuredidsubmit" jdbcType="VARCHAR" />
    <result column="RGTADDRESS" property="rgtaddress" jdbcType="VARCHAR" />
    <result column="HEALTH" property="health" jdbcType="VARCHAR" />
    <result column="STATURE" property="stature" jdbcType="DECIMAL" />
    <result column="AVOIRDUPOIS" property="avoirdupois" jdbcType="DECIMAL" />
    <result column="LCINSUREDRGTADDRESS" property="lcinsuredrgtaddress" jdbcType="DECIMAL" />
    <result column="LCINSUREDCOMPANY" property="lcinsuredcompany" jdbcType="VARCHAR" />
    <result column="LCINSUREDRESPONSIBILITY" property="lcinsuredresponsibility" jdbcType="VARCHAR" />
    <result column="LCINSUREDROCCUPATIONCODE" property="lcinsuredroccupationcode" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="MAKEDATE" property="makedate" jdbcType="TIMESTAMP" />
    <result column="MAKETIME" property="maketime" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="MODIFYTIME" property="modifytime" jdbcType="VARCHAR" />
    <result column="GRPCONTNO" property="modifytime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CONTNO, TRANSNO, INSUREDNO, PRTNO, APPNTNO, MANAGECOM, EXECUTECOM, RELATIONTOAPPNT, 
    LCINSUREDNAME, LCINSUREDSEX, LCINSUREDBIRTHDAY, LCINSUREDIDTYPE, LCINSUREDIDNO, INSUREIDENDDATE, 
    INSUREIDSTARTDATE, LCINSUREDNATIVEPLACE, LCINSUREDIDSUBMIT, RGTADDRESS, HEALTH, STATURE, 
    AVOIRDUPOIS, LCINSUREDRGTADDRESS, LCINSUREDCOMPANY, LCINSUREDRESPONSIBILITY, LCINSUREDROCCUPATIONCODE, 
    OPERATOR, MAKEDATE, MAKETIME, MODIFYDATE, MODIFYTIME,GRPCONTNO
  </sql>
  <select id="selectByPrimaryKey" resultType="com.sinosoft.service.business.db.vo.LcinsuredVo" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from LCINSURED
    where TRANSNO = #{transno,jdbcType=VARCHAR}
  </select>
  
   <select id="selectINSUREDNO" resultType="String"  >
     select INSUREDNO.nextval from dual
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="String" >
    delete from LCINSURED
    where  TRANSNO = #{transno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.LcinsuredVo" >
    insert into LCINSURED (CONTNO, TRANSNO, INSUREDNO, 
      PRTNO, APPNTNO, MANAGECOM, 
      EXECUTECOM, RELATIONTOAPPNT, LCINSUREDNAME, 
      LCINSUREDSEX, LCINSUREDBIRTHDAY, LCINSUREDIDTYPE, 
      LCINSUREDIDNO, INSUREIDENDDATE, INSUREIDSTARTDATE, 
      LCINSUREDNATIVEPLACE, LCINSUREDIDSUBMIT, 
      RGTADDRESS, HEALTH, STATURE, 
      AVOIRDUPOIS, LCINSUREDRGTADDRESS, LCINSUREDCOMPANY, 
      LCINSUREDRESPONSIBILITY, LCINSUREDROCCUPATIONCODE, 
      OPERATOR, MAKEDATE, MAKETIME, 
      MODIFYDATE, MODIFYTIME,GRPCONTNO)
    values (#{contno,jdbcType=VARCHAR}, #{transno,jdbcType=VARCHAR}, #{insuredno,jdbcType=VARCHAR}, 
      #{prtno,jdbcType=VARCHAR}, #{appntno,jdbcType=VARCHAR}, #{managecom,jdbcType=VARCHAR}, 
      #{executecom,jdbcType=VARCHAR}, #{relationtoappnt,jdbcType=VARCHAR}, #{lcinsuredname,jdbcType=VARCHAR}, 
      #{lcinsuredsex,jdbcType=VARCHAR}, #{lcinsuredbirthday,jdbcType=TIMESTAMP}, #{lcinsuredidtype,jdbcType=VARCHAR}, 
      #{lcinsuredidno,jdbcType=VARCHAR}, #{insureidenddate,jdbcType=TIMESTAMP}, #{insureidstartdate,jdbcType=TIMESTAMP}, 
      #{lcinsurednativeplace,jdbcType=VARCHAR}, #{lcinsuredidsubmit,jdbcType=VARCHAR}, 
      #{rgtaddress,jdbcType=VARCHAR}, #{health,jdbcType=VARCHAR}, #{stature,jdbcType=DECIMAL}, 
      #{avoirdupois,jdbcType=DECIMAL}, #{lcinsuredrgtaddress,jdbcType=DECIMAL}, #{lcinsuredcompany,jdbcType=VARCHAR}, 
      #{lcinsuredresponsibility,jdbcType=VARCHAR}, #{lcinsuredroccupationcode,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{makedate,jdbcType=TIMESTAMP}, #{maketime,jdbcType=VARCHAR}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=VARCHAR}, #{grpcontno,jdbcType=VARCHAR}))
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.db.vo.LcinsuredVo" >
    insert into LCINSURED
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contno != null" >
        CONTNO,
      </if>
      <if test="transno != null" >
        TRANSNO,
      </if>
      <if test="insuredno != null" >
        INSUREDNO,
      </if>
      <if test="prtno != null" >
        PRTNO,
      </if>
      <if test="appntno != null" >
        APPNTNO,
      </if>
      <if test="managecom != null" >
        MANAGECOM,
      </if>
      <if test="executecom != null" >
        EXECUTECOM,
      </if>
      <if test="relationtoappnt != null" >
        RELATIONTOAPPNT,
      </if>
      <if test="lcinsuredname != null" >
        LCINSUREDNAME,
      </if>
      <if test="lcinsuredsex != null" >
        LCINSUREDSEX,
      </if>
      <if test="lcinsuredbirthday != null" >
        LCINSUREDBIRTHDAY,
      </if>
      <if test="lcinsuredidtype != null" >
        LCINSUREDIDTYPE,
      </if>
      <if test="lcinsuredidno != null" >
        LCINSUREDIDNO,
      </if>
      <if test="insureidenddate != null" >
        INSUREIDENDDATE,
      </if>
      <if test="insureidstartdate != null" >
        INSUREIDSTARTDATE,
      </if>
      <if test="lcinsurednativeplace != null" >
        LCINSUREDNATIVEPLACE,
      </if>
      <if test="lcinsuredidsubmit != null" >
        LCINSUREDIDSUBMIT,
      </if>
      <if test="rgtaddress != null" >
        RGTADDRESS,
      </if>
      <if test="health != null" >
        HEALTH,
      </if>
      <if test="stature != null" >
        STATURE,
      </if>
      <if test="avoirdupois != null" >
        AVOIRDUPOIS,
      </if>
      <if test="lcinsuredrgtaddress != null" >
        LCINSUREDRGTADDRESS,
      </if>
      <if test="lcinsuredcompany != null" >
        LCINSUREDCOMPANY,
      </if>
      <if test="lcinsuredresponsibility != null" >
        LCINSUREDRESPONSIBILITY,
      </if>
      <if test="lcinsuredroccupationcode != null" >
        LCINSUREDROCCUPATIONCODE,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="makedate != null" >
        MAKEDATE,
      </if>
      <if test="maketime != null" >
        MAKETIME,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
      <if test="modifytime != null" >
        MODIFYTIME,
      </if>
         <if test="grpcontno != null" >
        GRPCONTNO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contno != null" >
        #{contno,jdbcType=VARCHAR},
      </if>
      <if test="transno != null" >
        #{transno,jdbcType=VARCHAR},
      </if>
      <if test="insuredno != null" >
        #{insuredno,jdbcType=VARCHAR},
      </if>
      <if test="prtno != null" >
        #{prtno,jdbcType=VARCHAR},
      </if>
      <if test="appntno != null" >
        #{appntno,jdbcType=VARCHAR},
      </if>
      <if test="managecom != null" >
        #{managecom,jdbcType=VARCHAR},
      </if>
      <if test="executecom != null" >
        #{executecom,jdbcType=VARCHAR},
      </if>
      <if test="relationtoappnt != null" >
        #{relationtoappnt,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredname != null" >
        #{lcinsuredname,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredsex != null" >
        #{lcinsuredsex,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredbirthday != null" >
        #{lcinsuredbirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="lcinsuredidtype != null" >
        #{lcinsuredidtype,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredidno != null" >
        #{lcinsuredidno,jdbcType=VARCHAR},
      </if>
      <if test="insureidenddate != null" >
        #{insureidenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="insureidstartdate != null" >
        #{insureidstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lcinsurednativeplace != null" >
        #{lcinsurednativeplace,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredidsubmit != null" >
        #{lcinsuredidsubmit,jdbcType=VARCHAR},
      </if>
      <if test="rgtaddress != null" >
        #{rgtaddress,jdbcType=VARCHAR},
      </if>
      <if test="health != null" >
        #{health,jdbcType=VARCHAR},
      </if>
      <if test="stature != null" >
        #{stature,jdbcType=DECIMAL},
      </if>
      <if test="avoirdupois != null" >
        #{avoirdupois,jdbcType=DECIMAL},
      </if>
      <if test="lcinsuredrgtaddress != null" >
        #{lcinsuredrgtaddress,jdbcType=DECIMAL},
      </if>
      <if test="lcinsuredcompany != null" >
        #{lcinsuredcompany,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredresponsibility != null" >
        #{lcinsuredresponsibility,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredroccupationcode != null" >
        #{lcinsuredroccupationcode,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maketime != null" >
        #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=VARCHAR},
      </if>
        <if test="grpcontno != null" >
        #{grpcontno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.service.business.db.vo.LcinsuredVo" >
    update LCINSURED
    <set >
      <if test="insuredno != null" >
        INSUREDNO = #{insuredno,jdbcType=VARCHAR},
      </if>
      <if test="prtno != null" >
        PRTNO = #{prtno,jdbcType=VARCHAR},
      </if>
      <if test="appntno != null" >
        APPNTNO = #{appntno,jdbcType=VARCHAR},
      </if>
      <if test="managecom != null" >
        MANAGECOM = #{managecom,jdbcType=VARCHAR},
      </if>
      <if test="executecom != null" >
        EXECUTECOM = #{executecom,jdbcType=VARCHAR},
      </if>
      <if test="relationtoappnt != null" >
        RELATIONTOAPPNT = #{relationtoappnt,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredname != null" >
        LCINSUREDNAME = #{lcinsuredname,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredsex != null" >
        LCINSUREDSEX = #{lcinsuredsex,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredbirthday != null" >
        LCINSUREDBIRTHDAY = #{lcinsuredbirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="lcinsuredidtype != null" >
        LCINSUREDIDTYPE = #{lcinsuredidtype,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredidno != null" >
        LCINSUREDIDNO = #{lcinsuredidno,jdbcType=VARCHAR},
      </if>
      <if test="insureidenddate != null" >
        INSUREIDENDDATE = #{insureidenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="insureidstartdate != null" >
        INSUREIDSTARTDATE = #{insureidstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lcinsurednativeplace != null" >
        LCINSUREDNATIVEPLACE = #{lcinsurednativeplace,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredidsubmit != null" >
        LCINSUREDIDSUBMIT = #{lcinsuredidsubmit,jdbcType=VARCHAR},
      </if>
      <if test="rgtaddress != null" >
        RGTADDRESS = #{rgtaddress,jdbcType=VARCHAR},
      </if>
      <if test="health != null" >
        HEALTH = #{health,jdbcType=VARCHAR},
      </if>
      <if test="stature != null" >
        STATURE = #{stature,jdbcType=DECIMAL},
      </if>
      <if test="avoirdupois != null" >
        AVOIRDUPOIS = #{avoirdupois,jdbcType=DECIMAL},
      </if>
      <if test="lcinsuredrgtaddress != null" >
        LCINSUREDRGTADDRESS = #{lcinsuredrgtaddress,jdbcType=DECIMAL},
      </if>
      <if test="lcinsuredcompany != null" >
        LCINSUREDCOMPANY = #{lcinsuredcompany,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredresponsibility != null" >
        LCINSUREDRESPONSIBILITY = #{lcinsuredresponsibility,jdbcType=VARCHAR},
      </if>
      <if test="lcinsuredroccupationcode != null" >
        LCINSUREDROCCUPATIONCODE = #{lcinsuredroccupationcode,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        MAKEDATE = #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maketime != null" >
        MAKETIME = #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
      </if>
       <if test="grpcontno != null" >
        GRPCONTNO = #{grpcontno,jdbcType=VARCHAR},
      </if>
    </set>
    where CONTNO = #{contno,jdbcType=VARCHAR}
      and TRANSNO = #{transno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.LcinsuredVo" >
    update LCINSURED
    set INSUREDNO = #{insuredno,jdbcType=VARCHAR},
      PRTNO = #{prtno,jdbcType=VARCHAR},
      APPNTNO = #{appntno,jdbcType=VARCHAR},
      MANAGECOM = #{managecom,jdbcType=VARCHAR},
      EXECUTECOM = #{executecom,jdbcType=VARCHAR},
      RELATIONTOAPPNT = #{relationtoappnt,jdbcType=VARCHAR},
      LCINSUREDNAME = #{lcinsuredname,jdbcType=VARCHAR},
      LCINSUREDSEX = #{lcinsuredsex,jdbcType=VARCHAR},
      LCINSUREDBIRTHDAY = #{lcinsuredbirthday,jdbcType=TIMESTAMP},
      LCINSUREDIDTYPE = #{lcinsuredidtype,jdbcType=VARCHAR},
      LCINSUREDIDNO = #{lcinsuredidno,jdbcType=VARCHAR},
      INSUREIDENDDATE = #{insureidenddate,jdbcType=TIMESTAMP},
      INSUREIDSTARTDATE = #{insureidstartdate,jdbcType=TIMESTAMP},
      LCINSUREDNATIVEPLACE = #{lcinsurednativeplace,jdbcType=VARCHAR},
      LCINSUREDIDSUBMIT = #{lcinsuredidsubmit,jdbcType=VARCHAR},
      RGTADDRESS = #{rgtaddress,jdbcType=VARCHAR},
      HEALTH = #{health,jdbcType=VARCHAR},
      STATURE = #{stature,jdbcType=DECIMAL},
      AVOIRDUPOIS = #{avoirdupois,jdbcType=DECIMAL},
      LCINSUREDRGTADDRESS = #{lcinsuredrgtaddress,jdbcType=DECIMAL},
      LCINSUREDCOMPANY = #{lcinsuredcompany,jdbcType=VARCHAR},
      LCINSUREDRESPONSIBILITY = #{lcinsuredresponsibility,jdbcType=VARCHAR},
      LCINSUREDROCCUPATIONCODE = #{lcinsuredroccupationcode,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      MAKEDATE = #{makedate,jdbcType=TIMESTAMP},
      MAKETIME = #{maketime,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
       GRPCONTNO = #{grpcontno,jdbcType=VARCHAR}
    where CONTNO = #{contno,jdbcType=VARCHAR}
      and TRANSNO = #{transno,jdbcType=VARCHAR}
  </update>
</mapper>