<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.LDMENUGRPAMapper">
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.ldmenuGrpVO">
    <id column="MENUGRPCODE" jdbcType="VARCHAR" property="menugrpcode" />
    <result column="MENUGRPNAME" jdbcType="VARCHAR" property="menugrpname" />
    <result column="MENUGRPDESCRIPTION" jdbcType="VARCHAR" property="menugrpdescription" />
    <result column="MENUSIGN" jdbcType="VARCHAR" property="menusign" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="MAKEDATE" jdbcType="DATE" property="makedate" />
    <result column="MAKETIME" jdbcType="VARCHAR" property="maketime" />
    <result column="MENUSTATE" jdbcType="VARCHAR" property="menustate" />
    <result column="BAK1" jdbcType="VARCHAR" property="bak1" />
    <result column="BAK2" jdbcType="VARCHAR" property="bak2" />
    <result column="BAK3" jdbcType="VARCHAR" property="bak3" />
    <result column="BAK4" jdbcType="VARCHAR" property="bak4" />
    <result column="BAK5" jdbcType="VARCHAR" property="bak5" />
  </resultMap>
  <sql id="Base_Column_List">
    MENUGRPCODE, MENUGRPNAME, MENUGRPDESCRIPTION, MENUSIGN, OPERATOR, MAKEDATE, MAKETIME, 
    MENUSTATE, BAK1, BAK2, BAK3, BAK4, BAK5
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.ldmenuGrpVO" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LDMENUGRPA
    where 1=1
     <if test="menugrpcode != null">
     
     and MENUGRPCODE = #{menugrpcode,jdbcType=VARCHAR}
     </if>
    <if test="menugrpname != null">
     and  MENUGRPNAME = #{menugrpname,jdbcType=VARCHAR}
      </if>
        <if test="menugrpdescription != null">
     
     and menugrpdescription = #{menugrpdescription,jdbcType=VARCHAR}
     </if>
    <if test="menustate != null">
     and  menustate = #{menustate,jdbcType=VARCHAR}
      </if>
  </select>
  <select id="selectseq" resultType="java.lang.String" parameterType="java.lang.String">
  select menugrpcode from LDMENUGRPA where menugrpname=#{menugrpname}
  
  </select>
  <select id="querySeqMax" resultType="java.lang.String"  parameterType="java.lang.String">
   select  MENUGRPCODE from LDMENUGRPA where menugrpname=#{menugrpname} 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from LDMENUGRPA
    where MENUGRPCODE = #{menugrpcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.ldmenuGrpVO">
    insert into LDMENUGRPA(MENUGRPCODE, MENUGRPNAME, MENUGRPDESCRIPTION, 
      MENUSIGN, OPERATOR, MAKEDATE, 
      MAKETIME, MENUSTATE, BAK1, 
      BAK2, BAK3, BAK4, BAK5
      )
    values (#{menugrpcode,jdbcType=VARCHAR}, #{menugrpname,jdbcType=VARCHAR}, #{menugrpdescription,jdbcType=VARCHAR}, 
      #{menusign,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{makedate,jdbcType=DATE}, 
      #{maketime,jdbcType=VARCHAR}, #{menustate,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, 
      #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR}, #{bak5,jdbcType=VARCHAR}
      )
  </insert>
  
    <insert id="insertA" parameterType="com.sinosoft.service.business.db.vo.ldmenuGrpVO">
    insert into LDMENUGRPA (MENUGRPCODE, MENUGRPNAME, MENUGRPDESCRIPTION, 
      MENUSIGN, OPERATOR, MAKEDATE, 
      MAKETIME, MENUSTATE, BAK1, 
      BAK2, BAK3, BAK4, BAK5
      )
    values (seq_LDMENUGRPA.Nextval, #{menugrpname,jdbcType=VARCHAR}, #{menugrpdescription,jdbcType=VARCHAR}, 
      #{menusign,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{makedate,jdbcType=DATE}, 
      #{maketime,jdbcType=VARCHAR}, #{menustate,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, 
      #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR}, #{bak5,jdbcType=VARCHAR}
      )
  </insert>
  
  <delete id="deleteByname" parameterType="com.sinosoft.service.business.db.vo.ldmenuGrpVO">
  delete from LDMENUGRPA where menugrpcode=#{menugrpcode,jdbcType=VARCHAR}
  
  </delete>
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.db.vo.ldmenuGrpVO">
    insert into LDMENUGRPA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menugrpcode != null">
        MENUGRPCODE,
      </if>
      <if test="menugrpname != null">
        MENUGRPNAME,
      </if>
      <if test="menugrpdescription != null">
        MENUGRPDESCRIPTION,
      </if>
      <if test="menusign != null">
        MENUSIGN,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="makedate != null">
        MAKEDATE,
      </if>
      <if test="maketime != null">
        MAKETIME,
      </if>
      <if test="menustate != null">
        MENUSTATE,
      </if>
      <if test="bak1 != null">
        BAK1,
      </if>
      <if test="bak2 != null">
        BAK2,
      </if>
      <if test="bak3 != null">
        BAK3,
      </if>
      <if test="bak4 != null">
        BAK4,
      </if>
      <if test="bak5 != null">
        BAK5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menugrpcode != null">
        #{menugrpcode,jdbcType=VARCHAR},
      </if>
      <if test="menugrpname != null">
        #{menugrpname,jdbcType=VARCHAR},
      </if>
      <if test="menugrpdescription != null">
        #{menugrpdescription,jdbcType=VARCHAR},
      </if>
      <if test="menusign != null">
        #{menusign,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null">
        #{makedate,jdbcType=DATE},
      </if>
      <if test="maketime != null">
        #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="menustate != null">
        #{menustate,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null">
        #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null">
        #{bak5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.service.business.db.vo.ldmenuGrpVO">
    update LDMENUGRPA
    <set>
      <if test="menugrpname != null">
        MENUGRPNAME = #{menugrpname,jdbcType=VARCHAR},
      </if>
      <if test="menugrpdescription != null">
        MENUGRPDESCRIPTION = #{menugrpdescription,jdbcType=VARCHAR},
      </if>
      <if test="menusign != null">
        MENUSIGN = #{menusign,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null">
        MAKEDATE = #{makedate,jdbcType=DATE},
      </if>
      <if test="maketime != null">
        MAKETIME = #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="menustate != null">
        MENUSTATE = #{menustate,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null">
        BAK1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        BAK2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        BAK3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null">
        BAK4 = #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null">
        BAK5 = #{bak5,jdbcType=VARCHAR},
      </if>
    </set>
    where MENUGRPCODE = #{menugrpcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.ldmenuGrpVO">
    update LDMENUGRPA
    set MENUGRPNAME = #{menugrpname,jdbcType=VARCHAR},
      MENUGRPDESCRIPTION = #{menugrpdescription,jdbcType=VARCHAR},
      MENUSIGN = #{menusign,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      MAKEDATE = #{makedate,jdbcType=DATE},
      MAKETIME = #{maketime,jdbcType=VARCHAR},
      MENUSTATE = #{menustate,jdbcType=VARCHAR},
      BAK1 = #{bak1,jdbcType=VARCHAR},
      BAK2 = #{bak2,jdbcType=VARCHAR},
      BAK3 = #{bak3,jdbcType=VARCHAR},
      BAK4 = #{bak4,jdbcType=VARCHAR},
      BAK5 = #{bak5,jdbcType=VARCHAR}
    where MENUGRPCODE = #{menugrpcode,jdbcType=VARCHAR}
  </update>
</mapper>