<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.service.business.db.dao.LdoccupationVoMapper" >
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.LdoccupationVo" >
    <id column="OCCUPATIONCODE" property="occupationcode" jdbcType="VARCHAR" />
    <result column="OCCUPATIONNAME" property="occupationname" jdbcType="VARCHAR" />
    <result column="OCCUPATIONTYPE" property="occupationtype" jdbcType="VARCHAR" />
    <result column="WORKTYPE" property="worktype" jdbcType="VARCHAR" />
    <result column="WORKNAME" property="workname" jdbcType="VARCHAR" />
    <result column="MEDRATE" property="medrate" jdbcType="DECIMAL" />
    <result column="SUDDRISK" property="suddrisk" jdbcType="VARCHAR" />
    <result column="DISEARISK" property="disearisk" jdbcType="VARCHAR" />
    <result column="HOSIPRISK" property="hosiprisk" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    OCCUPATIONCODE, OCCUPATIONNAME, OCCUPATIONTYPE, WORKTYPE, WORKNAME, MEDRATE, SUDDRISK, 
    DISEARISK, HOSIPRISK
  </sql>
  
  
  
  <select id="selectList" resultType="com.sinosoft.service.business.db.vo.LdoccupationVo">
    select 
    <include refid="Base_Column_List" />
    from LDOCCUPATION
    where trim(worktype) = 'YD'
  </select>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LDOCCUPATION
    where OCCUPATIONCODE = #{occupationcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LDOCCUPATION
    where OCCUPATIONCODE = #{occupationcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.LdoccupationVo" >
    insert into LDOCCUPATION (OCCUPATIONCODE, OCCUPATIONNAME, OCCUPATIONTYPE, 
      WORKTYPE, WORKNAME, MEDRATE, 
      SUDDRISK, DISEARISK, HOSIPRISK
      )
    values (#{occupationcode,jdbcType=VARCHAR}, #{occupationname,jdbcType=VARCHAR}, #{occupationtype,jdbcType=VARCHAR}, 
      #{worktype,jdbcType=VARCHAR}, #{workname,jdbcType=VARCHAR}, #{medrate,jdbcType=DECIMAL}, 
      #{suddrisk,jdbcType=VARCHAR}, #{disearisk,jdbcType=VARCHAR}, #{hosiprisk,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.db.vo.LdoccupationVo" >
    insert into LDOCCUPATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="occupationcode != null" >
        OCCUPATIONCODE,
      </if>
      <if test="occupationname != null" >
        OCCUPATIONNAME,
      </if>
      <if test="occupationtype != null" >
        OCCUPATIONTYPE,
      </if>
      <if test="worktype != null" >
        WORKTYPE,
      </if>
      <if test="workname != null" >
        WORKNAME,
      </if>
      <if test="medrate != null" >
        MEDRATE,
      </if>
      <if test="suddrisk != null" >
        SUDDRISK,
      </if>
      <if test="disearisk != null" >
        DISEARISK,
      </if>
      <if test="hosiprisk != null" >
        HOSIPRISK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="occupationcode != null" >
        #{occupationcode,jdbcType=VARCHAR},
      </if>
      <if test="occupationname != null" >
        #{occupationname,jdbcType=VARCHAR},
      </if>
      <if test="occupationtype != null" >
        #{occupationtype,jdbcType=VARCHAR},
      </if>
      <if test="worktype != null" >
        #{worktype,jdbcType=VARCHAR},
      </if>
      <if test="workname != null" >
        #{workname,jdbcType=VARCHAR},
      </if>
      <if test="medrate != null" >
        #{medrate,jdbcType=DECIMAL},
      </if>
      <if test="suddrisk != null" >
        #{suddrisk,jdbcType=VARCHAR},
      </if>
      <if test="disearisk != null" >
        #{disearisk,jdbcType=VARCHAR},
      </if>
      <if test="hosiprisk != null" >
        #{hosiprisk,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.service.business.db.vo.LdoccupationVo" >
    update LDOCCUPATION
    <set >
      <if test="occupationname != null" >
        OCCUPATIONNAME = #{occupationname,jdbcType=VARCHAR},
      </if>
      <if test="occupationtype != null" >
        OCCUPATIONTYPE = #{occupationtype,jdbcType=VARCHAR},
      </if>
      <if test="worktype != null" >
        WORKTYPE = #{worktype,jdbcType=VARCHAR},
      </if>
      <if test="workname != null" >
        WORKNAME = #{workname,jdbcType=VARCHAR},
      </if>
      <if test="medrate != null" >
        MEDRATE = #{medrate,jdbcType=DECIMAL},
      </if>
      <if test="suddrisk != null" >
        SUDDRISK = #{suddrisk,jdbcType=VARCHAR},
      </if>
      <if test="disearisk != null" >
        DISEARISK = #{disearisk,jdbcType=VARCHAR},
      </if>
      <if test="hosiprisk != null" >
        HOSIPRISK = #{hosiprisk,jdbcType=VARCHAR},
      </if>
    </set>
    where OCCUPATIONCODE = #{occupationcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.LdoccupationVo" >
    update LDOCCUPATION
    set OCCUPATIONNAME = #{occupationname,jdbcType=VARCHAR},
      OCCUPATIONTYPE = #{occupationtype,jdbcType=VARCHAR},
      WORKTYPE = #{worktype,jdbcType=VARCHAR},
      WORKNAME = #{workname,jdbcType=VARCHAR},
      MEDRATE = #{medrate,jdbcType=DECIMAL},
      SUDDRISK = #{suddrisk,jdbcType=VARCHAR},
      DISEARISK = #{disearisk,jdbcType=VARCHAR},
      HOSIPRISK = #{hosiprisk,jdbcType=VARCHAR}
    where OCCUPATIONCODE = #{occupationcode,jdbcType=VARCHAR}
  </update>
</mapper>