<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.LMRiskParamsDefADao">
	<resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.LmriskparamsdefaVo">
		<result column="char1" jdbcType="VARCHAR" property="char1" />
		<result column="char2" jdbcType="VARCHAR" property="char2" />	
		<result column="riskcode" jdbcType="VARCHAR" property="riskcode" />
		<result column="riskver" jdbcType="VARCHAR" property="riskver" />	
		<result column="dutycode" jdbcType="VARCHAR" property="dutycode" />
		<result column="othercode" jdbcType="VARCHAR" property="othercode" />	
		<result column="ctrltype" jdbcType="VARCHAR" property="ctrltype" />
		<result column="paramstype" jdbcType="FLOAT" property="paramstype" />	
		<result column="paramscode" jdbcType="VARCHAR" property="paramscode" />
    	<result column="paramsname" jdbcType="VARCHAR" property="paramsname" />
    	
	</resultMap>
  <sql id="Base_Column_List">
    riskcode,riskver,dutycode,othercode,ctrltype,paramstype,paramscode,paramsname,char1,char2 
  </sql>
	<select id="queryProduct" resultMap="BaseResultMap">
	select <include refid="Base_Column_List" />  from LMRiskParamsDefA b where 1=1 and subRiskFlag = 'M'  and checkDefFlag = 'Y' and char6='Y' and checkFlag = 'Y' and sign='S' and insuranceCom=#{insuranceCom,jdbcType=VARCHAR} 
	</select>
	
		
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.LmriskparamsdefaVo">
  	  insert into LMRiskParamsDefA ( riskcode,dutycode,othercode,ctrltype,paramstype,paramscode,paramsname,char1,char2 )
  	  values (#{riskcode,jdbcType=VARCHAR},#{dutycode,jdbcType=VARCHAR}, #{othercode,jdbcType=VARCHAR},
      #{ctrltype,jdbcType=VARCHAR},#{paramstype,jdbcType=VARCHAR},#{paramscode,jdbcType=VARCHAR},
      #{paramsname,jdbcType=VARCHAR}, #{char1,jdbcType=VARCHAR},#{char2,jdbcType=VARCHAR})
  </insert>
  
	
	<select id="selectByAgentCom" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />  FROM LMRiskParamsDefA 
		  where 1=1
		 <if test="riskcode != null">
	      and  riskcode=#{riskcode,jdbcType=VARCHAR}
	   	</if>  
	   
			</select>
	<select id="selectLMRiskParamsDefA" parameterType="com.sinosoft.service.business.db.vo.LmriskparamsdefaVo" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />  FROM LMRiskParamsDef 
		  where 1=1
	      and  riskcode=#{riskcode,jdbcType=VARCHAR}
	      and paramstype=#{paramstype,jdbcType=VARCHAR}
	</select>
	
	<select id="selectlmriskParamsDef" parameterType="com.sinosoft.service.business.db.vo.LmriskparamsdefaVo" resultType="com.sinosoft.service.business.db.vo.LmriskparamsdefaVo">
		select <include refid="Base_Column_List" />  FROM LMRiskParamsDef 
		  where 1=1
	      and  riskcode=#{riskcode,jdbcType=VARCHAR}
	      and paramstype=#{paramstype,jdbcType=VARCHAR}
	      and paramscode=#{paramscode,jdbcType=VARCHAR}
	</select>
	
	
	<select id="select"  resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />  FROM LMRiskParamsDefA 
	</select>
	
	  
  <delete id="deleteByagentcom" parameterType="com.sinosoft.service.business.db.vo.LmriskparamsdefaVo">
   delete from  LMRiskParamsDefA where riskcode=#{riskcode}
  </delete>

  
	<update id="updateLacomByAgentcom" parameterType="com.sinosoft.service.business.db.vo.LmriskparamsdefaVo">
    update LMRiskParamsDefA
    <set>
      <if test="riskCode != null">
        riskCode= #{riskCode,jdbcType=VARCHAR},
      </if>
       <if test="insuranceCom != null">
        insuranceCom= #{insuranceCom,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator= #{operator,jdbcType=VARCHAR},
      </if>
       <if test="riskVer != null">
        riskVer = #{riskVer,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name= #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null">
        linkman= #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        states= #{states,jdbcType=VARCHAR},
      </if>
       <if test="upagentcom != null">
        upagentcom= #{upagentcom,jdbcType=VARCHAR},
      </if>
       <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
       <if test="makedate != null">
        makedate= #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maketime != null">
        maketime= #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null">
        modifydate= #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        modifytime= #{modifytime,jdbcType=VARCHAR},
      </if>
     </set>
    where agentcom=#{agentcom,jdbcType=VARCHAR}

  </update>	 
	 
 <update id="updateA"  parameterType="com.sinosoft.service.business.db.vo.LmriskparamsdefaVo">
 update lmriskparamsdefa set char1='N',char2='W' where riskcode=#{riskCode,jdbcType=VARCHAR}
 
 </update>
</mapper>
