<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.LoginDao">
	<resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.SYSUserVo">
	    <id column="emplID" jdbcType="VARCHAR" property="emplID" />
	    <result column="department" jdbcType="VARCHAR" property="department" />
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="jobCode" jdbcType="VARCHAR" property="jobCode" />
	    <result column="companyCode" jdbcType="VARCHAR" property="companyCode" />
	    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
	    <result column="location" jdbcType="VARCHAR" property="location" />
	    <result column="status" jdbcType="VARCHAR" property="status" />
	    <result column="hireDate" jdbcType="TIMESTAMP" property="hireDate" />
	    <result column="rehireDate" jdbcType="TIMESTAMP" property="rehireDate" />
	    <result column="checkFlag" jdbcType="VARCHAR" property="checkFlag" />
	    <result column="operator" jdbcType="VARCHAR" property="operator" />
	    <result column="makeDate" jdbcType="TIMESTAMP" property="makeDate" />
	    <result column="makeTime" jdbcType="VARCHAR" property="makeTime" />
	  
  </resultMap>
  <sql id="Base_Column_List">
  emplID,department,name,jobCode,companyCode,companyName,location,status,hireDate,rehireDate,
  checkFlag,operator,makeDate,makeTime
  </sql>
  <select id="selectByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lduser
    where emplID= #{emplID,jdbcType=VARCHAR}
  </select>
</mapper>