<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.service.business.db.dao.lzcardVoMapper" >
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.LzcardVo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="AGENTCOM" property="agentcom" jdbcType="VARCHAR" />
    <result column="MANAGECOM" property="managecom" jdbcType="VARCHAR" />
    <result column="CERTIFYTYPE" property="certifytype" jdbcType="VARCHAR" />
    <result column="CERTIFYCODE" property="certifycode" jdbcType="VARCHAR" />
    <result column="CERTIFYSTATUS" property="certifystatus" jdbcType="VARCHAR" />
    <result column="CERTIFYSTART" property="certifystart" jdbcType="VARCHAR" />
    <result column="CERTIFYEND" property="certifyend" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="WAITSTATUS" property="waitstatus" jdbcType="VARCHAR" />
    <result column="MODIFYSTATUS" property="modifystatus" jdbcType="VARCHAR" />
    <result column="CERTIFYNO" property="certifyno" jdbcType="VARCHAR" />
    <result column="CERTIFYNUM" property="certifynum" jdbcType="VARCHAR" />
    <result column="MAKEDATE" property="makedate" jdbcType="TIMESTAMP" />
    <result column="MAKETIME" property="maketime" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="MODIFYTIME" property="modifytime" jdbcType="VARCHAR" />
    <result column="BAK1" property="bak1" jdbcType="VARCHAR" />
    <result column="BAK2" property="bak2" jdbcType="VARCHAR" />
    <result column="BAK3" property="bak3" jdbcType="VARCHAR" />
    <result column="BAK4" property="bak4" jdbcType="VARCHAR" />
    <result column="BAK5" property="bak5" jdbcType="VARCHAR" />
    <result column="CERTIFYSTATUSFLAG" property="certifystatusflag" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="CHECKOPERATOR" property="checkoperator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, AGENTCOM, MANAGECOM, CERTIFYTYPE, CERTIFYCODE, CERTIFYSTATUS, CERTIFYSTART, CERTIFYEND, 
    OPERATOR, WAITSTATUS, MODIFYSTATUS, CERTIFYNO, CERTIFYNUM, MAKEDATE, MAKETIME, MODIFYDATE, 
    MODIFYTIME, BAK1, BAK2, BAK3, BAK4, BAK5, CERTIFYSTATUSFLAG, CITY, CHECKOPERATOR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from LZCARD
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="selectContno" resultType="com.sinosoft.service.business.db.vo.LzcardVo" parameterType="com.sinosoft.service.business.db.vo.LzcardVo" >
    select 
    <include refid="Base_Column_List" />
    from LZCARD
    where  AGENTCOM = #{agentcom,jdbcType=VARCHAR} and certifystatus='1' and certifynum!=0 and CITY = #{city,jdbcType=VARCHAR} order by certifystart
  </select>
  
  
   <select id="selectContno1" resultType="com.sinosoft.service.business.db.vo.LzcardVo" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from LZCARD
    where  AGENTCOM = #{agentcom,jdbcType=VARCHAR} and certifystatus='1' and certifynum!=0 and CITY is null order by certifystart
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LZCARD
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.LzcardVo" >
    insert into LZCARD (ID, AGENTCOM, MANAGECOM, 
      CERTIFYTYPE, CERTIFYCODE, CERTIFYSTATUS, 
      CERTIFYSTART, CERTIFYEND, OPERATOR, 
      WAITSTATUS, MODIFYSTATUS, CERTIFYNO, 
      CERTIFYNUM, MAKEDATE, MAKETIME, 
      MODIFYDATE, MODIFYTIME, BAK1, 
      BAK2, BAK3, BAK4, BAK5, 
      CERTIFYSTATUSFLAG, CITY, CHECKOPERATOR
      )
    values (#{id,jdbcType=VARCHAR}, #{agentcom,jdbcType=VARCHAR}, #{managecom,jdbcType=VARCHAR}, 
      #{certifytype,jdbcType=VARCHAR}, #{certifycode,jdbcType=VARCHAR}, #{certifystatus,jdbcType=VARCHAR}, 
      #{certifystart,jdbcType=VARCHAR}, #{certifyend,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{waitstatus,jdbcType=VARCHAR}, #{modifystatus,jdbcType=VARCHAR}, #{certifyno,jdbcType=VARCHAR}, 
      #{certifynum,jdbcType=VARCHAR}, #{makedate,jdbcType=TIMESTAMP}, #{maketime,jdbcType=VARCHAR}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, 
      #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR}, #{bak5,jdbcType=VARCHAR}, 
      #{certifystatusflag,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{checkoperator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.db.vo.LzcardVo" >
    insert into LZCARD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="agentcom != null" >
        AGENTCOM,
      </if>
      <if test="managecom != null" >
        MANAGECOM,
      </if>
      <if test="certifytype != null" >
        CERTIFYTYPE,
      </if>
      <if test="certifycode != null" >
        CERTIFYCODE,
      </if>
      <if test="certifystatus != null" >
        CERTIFYSTATUS,
      </if>
      <if test="certifystart != null" >
        CERTIFYSTART,
      </if>
      <if test="certifyend != null" >
        CERTIFYEND,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="waitstatus != null" >
        WAITSTATUS,
      </if>
      <if test="modifystatus != null" >
        MODIFYSTATUS,
      </if>
      <if test="certifyno != null" >
        CERTIFYNO,
      </if>
      <if test="certifynum != null" >
        CERTIFYNUM,
      </if>
      <if test="makedate != null" >
        MAKEDATE,
      </if>
      <if test="maketime != null" >
        MAKETIME,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
      <if test="modifytime != null" >
        MODIFYTIME,
      </if>
      <if test="bak1 != null" >
        BAK1,
      </if>
      <if test="bak2 != null" >
        BAK2,
      </if>
      <if test="bak3 != null" >
        BAK3,
      </if>
      <if test="bak4 != null" >
        BAK4,
      </if>
      <if test="bak5 != null" >
        BAK5,
      </if>
      <if test="certifystatusflag != null" >
        CERTIFYSTATUSFLAG,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="checkoperator != null" >
        CHECKOPERATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="agentcom != null" >
        #{agentcom,jdbcType=VARCHAR},
      </if>
      <if test="managecom != null" >
        #{managecom,jdbcType=VARCHAR},
      </if>
      <if test="certifytype != null" >
        #{certifytype,jdbcType=VARCHAR},
      </if>
      <if test="certifycode != null" >
        #{certifycode,jdbcType=VARCHAR},
      </if>
      <if test="certifystatus != null" >
        #{certifystatus,jdbcType=VARCHAR},
      </if>
      <if test="certifystart != null" >
        #{certifystart,jdbcType=VARCHAR},
      </if>
      <if test="certifyend != null" >
        #{certifyend,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="waitstatus != null" >
        #{waitstatus,jdbcType=VARCHAR},
      </if>
      <if test="modifystatus != null" >
        #{modifystatus,jdbcType=VARCHAR},
      </if>
      <if test="certifyno != null" >
        #{certifyno,jdbcType=VARCHAR},
      </if>
      <if test="certifynum != null" >
        #{certifynum,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maketime != null" >
        #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null" >
        #{bak5,jdbcType=VARCHAR},
      </if>
      <if test="certifystatusflag != null" >
        #{certifystatusflag,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="checkoperator != null" >
        #{checkoperator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.service.business.db.vo.LzcardVo" >
    update LZCARD
    <set >
      <if test="agentcom != null" >
        AGENTCOM = #{agentcom,jdbcType=VARCHAR},
      </if>
      <if test="managecom != null" >
        MANAGECOM = #{managecom,jdbcType=VARCHAR},
      </if>
      <if test="certifytype != null" >
        CERTIFYTYPE = #{certifytype,jdbcType=VARCHAR},
      </if>
      <if test="certifycode != null" >
        CERTIFYCODE = #{certifycode,jdbcType=VARCHAR},
      </if>
      <if test="certifystatus != null" >
        CERTIFYSTATUS = #{certifystatus,jdbcType=VARCHAR},
      </if>
      <if test="certifystart != null" >
        CERTIFYSTART = #{certifystart,jdbcType=VARCHAR},
      </if>
      <if test="certifyend != null" >
        CERTIFYEND = #{certifyend,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="waitstatus != null" >
        WAITSTATUS = #{waitstatus,jdbcType=VARCHAR},
      </if>
      <if test="modifystatus != null" >
        MODIFYSTATUS = #{modifystatus,jdbcType=VARCHAR},
      </if>
      <if test="certifyno != null" >
        CERTIFYNO = #{certifyno,jdbcType=VARCHAR},
      </if>
      <if test="certifynum != null" >
        CERTIFYNUM = #{certifynum,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        MAKEDATE = #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maketime != null" >
        MAKETIME = #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        BAK1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        BAK2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        BAK3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        BAK4 = #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null" >
        BAK5 = #{bak5,jdbcType=VARCHAR},
      </if>
      <if test="certifystatusflag != null" >
        CERTIFYSTATUSFLAG = #{certifystatusflag,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="checkoperator != null" >
        CHECKOPERATOR = #{checkoperator,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.LzcardVo" >
    update LZCARD
    set AGENTCOM = #{agentcom,jdbcType=VARCHAR},
      MANAGECOM = #{managecom,jdbcType=VARCHAR},
      CERTIFYTYPE = #{certifytype,jdbcType=VARCHAR},
      CERTIFYCODE = #{certifycode,jdbcType=VARCHAR},
      CERTIFYSTATUS = #{certifystatus,jdbcType=VARCHAR},
      CERTIFYSTART = #{certifystart,jdbcType=VARCHAR},
      CERTIFYEND = #{certifyend,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      WAITSTATUS = #{waitstatus,jdbcType=VARCHAR},
      MODIFYSTATUS = #{modifystatus,jdbcType=VARCHAR},
      CERTIFYNO = #{certifyno,jdbcType=VARCHAR},
      CERTIFYNUM = #{certifynum,jdbcType=VARCHAR},
      MAKEDATE = #{makedate,jdbcType=TIMESTAMP},
      MAKETIME = #{maketime,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
      BAK1 = #{bak1,jdbcType=VARCHAR},
      BAK2 = #{bak2,jdbcType=VARCHAR},
      BAK3 = #{bak3,jdbcType=VARCHAR},
      BAK4 = #{bak4,jdbcType=VARCHAR},
      BAK5 = #{bak5,jdbcType=VARCHAR},
      CERTIFYSTATUSFLAG = #{certifystatusflag,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      CHECKOPERATOR = #{checkoperator,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>