<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.MenuTreeDao">
	<resultMap id="BaseResultMap"
		type="com.sinosoft.service.business.db.vo.MenuTreeVo">
		<id column="uid" jdbcType="VARCHAR" property="uid" />
		<result column="par_uid" jdbcType="VARCHAR" property="parUid" />
		<result column="menu_name" jdbcType="VARCHAR" property="menuName" />
		<result column="menu_link" jdbcType="VARCHAR" property="menuLink" />
		<result column="menu_index" jdbcType="INTEGER" property="menuIndex" />
	</resultMap>
	<sql id="Base_Column_List">
		uid, par_uid, menu_name, menu_link,menu_index
	</sql>
	<select id="queryMenuTreeByUserCode" parameterType="java.lang.String"  
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_menu b
		WHERE b.menu_status='1' AND b.del_flag='0' AND b.uid IN(
		SELECT DISTINCT a.menu_uid
		FROM T_SYS_MENU_GRP_TO_MENU a
		WHERE menu_grp_uid IN (
		SELECT DISTINCT menu_grp_uid
		FROM t_sys_user_to_menu_grp
		WHERE user_uid IN(
		SELECT u.uid
		FROM t_sys_user u
		WHERE u.user_code =#{userCode,jdbcType=VARCHAR})))
		ORDER BY b.menu_index
	</select>
</mapper>