<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinosoft.service.business.db.dao.PlaccountinsureddetailVoMapper" >
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.db.vo.PlaccountinsureddetailVo" >
    <id column="SERNO" property="serno" jdbcType="VARCHAR" />
    <id column="SERIALNO" property="serialno" jdbcType="VARCHAR" />
    <id column="TRANSRNO" property="transrno" jdbcType="VARCHAR" />
    <result column="INSURCECOM" property="insurcecom" jdbcType="VARCHAR" />
    <result column="COMCODE" property="comcode" jdbcType="VARCHAR" />
    <result column="INSUREDACCNO" property="insuredaccno" jdbcType="VARCHAR" />
    <result column="PAYMONEY" property="paymoney" jdbcType="DECIMAL" />
    <result column="CLIENTNAME" property="clientname" jdbcType="VARCHAR" />
    <result column="CLIENTIDTYPE" property="clientidtype" jdbcType="VARCHAR" />
    <result column="CLIENTIDNO" property="clientidno" jdbcType="VARCHAR" />
    <result column="PAYRESULT" property="payresult" jdbcType="VARCHAR" />
    <result column="PRTNO" property="prtno" jdbcType="VARCHAR" />
    <result column="CONTNO" property="contno" jdbcType="VARCHAR" />
    <result column="PROPOSALNO" property="proposalno" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="VARCHAR" />
    <result column="PAYMODETIMES" property="paymodetimes" jdbcType="VARCHAR" />
    <result column="SELLTYPE" property="selltype" jdbcType="VARCHAR" />
    <result column="AUTHRIZEDYEAR" property="authrizedyear" jdbcType="VARCHAR" />
    <result column="PAYMODE" property="paymode" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="SOCKETFLAG" property="socketflag" jdbcType="VARCHAR" />
    <result column="DEALSUCCFLAG" property="dealsuccflag" jdbcType="VARCHAR" />
    <result column="RIGHTFLAG" property="rightflag" jdbcType="VARCHAR" />
    <result column="MAKEDATE" property="makedate" jdbcType="TIMESTAMP" />
    <result column="MAKETIME" property="maketime" jdbcType="VARCHAR" />
    <result column="MODIFYDATE" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="MODIFYTIME" property="modifytime" jdbcType="VARCHAR" />
    <result column="STANDBYFLAG" property="standbyflag" jdbcType="VARCHAR" />
    <result column="BAK1" property="bak1" jdbcType="VARCHAR" />
    <result column="BAK2" property="bak2" jdbcType="VARCHAR" />
    <result column="BAK3" property="bak3" jdbcType="VARCHAR" />
    <result column="BAK4" property="bak4" jdbcType="VARCHAR" />
    <result column="BAK5" property="bak5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SERNO, SERIALNO, TRANSRNO, INSURCECOM, COMCODE, INSUREDACCNO, PAYMONEY, CLIENTNAME, 
    CLIENTIDTYPE, CLIENTIDNO, PAYRESULT, PRTNO, CONTNO, PROPOSALNO, FLAG, PAYMODETIMES, 
    SELLTYPE, AUTHRIZEDYEAR, PAYMODE, STATE, REMARK, SOCKETFLAG, DEALSUCCFLAG, RIGHTFLAG, 
    MAKEDATE, MAKETIME, MODIFYDATE, MODIFYTIME, STANDBYFLAG, BAK1, BAK2, BAK3, BAK4, 
    BAK5
  </sql>
  
  
  
  
  
  
   <select id="selectserno"  resultType="String">
  	  select SEQ_SERNO.nextval from dual
   </select>
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.sinosoft.service.business.db.vo.PlaccountinsureddetailVo" >
    select 
    <include refid="Base_Column_List" />
    from PLACCOUNTINSUREDDETAIL
    where SERNO = #{serno,jdbcType=VARCHAR}
      and SERIALNO = #{serialno,jdbcType=VARCHAR}
      and TRANSRNO = #{transrno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.PlaccountinsureddetailVo" >
    delete from PLACCOUNTINSUREDDETAIL
    where SERNO = #{serno,jdbcType=VARCHAR}
      and SERIALNO = #{serialno,jdbcType=VARCHAR}
      and TRANSRNO = #{transrno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sinosoft.service.business.db.vo.PlaccountinsureddetailVo" >
    insert into PLACCOUNTINSUREDDETAIL (SERNO, SERIALNO, TRANSRNO, 
      INSURCECOM, COMCODE, INSUREDACCNO, 
      PAYMONEY, CLIENTNAME, CLIENTIDTYPE, 
      CLIENTIDNO, PAYRESULT, PRTNO, 
      CONTNO, PROPOSALNO, FLAG, 
      PAYMODETIMES, SELLTYPE, AUTHRIZEDYEAR, 
      PAYMODE, STATE, REMARK, 
      SOCKETFLAG, DEALSUCCFLAG, RIGHTFLAG, 
      MAKEDATE, MAKETIME, MODIFYDATE, 
      MODIFYTIME, STANDBYFLAG, BAK1, 
      BAK2, BAK3, BAK4, BAK5
      )
    values (#{serno,jdbcType=VARCHAR}, #{serialno,jdbcType=VARCHAR}, #{transrno,jdbcType=VARCHAR}, 
      #{insurcecom,jdbcType=VARCHAR}, #{comcode,jdbcType=VARCHAR}, #{insuredaccno,jdbcType=VARCHAR}, 
      #{paymoney,jdbcType=DECIMAL}, #{clientname,jdbcType=VARCHAR}, #{clientidtype,jdbcType=VARCHAR}, 
      #{clientidno,jdbcType=VARCHAR}, #{payresult,jdbcType=VARCHAR}, #{prtno,jdbcType=VARCHAR}, 
      #{contno,jdbcType=VARCHAR}, #{proposalno,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, 
      #{paymodetimes,jdbcType=VARCHAR}, #{selltype,jdbcType=VARCHAR}, #{authrizedyear,jdbcType=VARCHAR}, 
      #{paymode,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{socketflag,jdbcType=VARCHAR}, #{dealsuccflag,jdbcType=VARCHAR}, #{rightflag,jdbcType=VARCHAR}, 
      #{makedate,jdbcType=TIMESTAMP}, #{maketime,jdbcType=VARCHAR}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{modifytime,jdbcType=VARCHAR}, #{standbyflag,jdbcType=VARCHAR}, #{bak1,jdbcType=VARCHAR}, 
      #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{bak4,jdbcType=VARCHAR}, #{bak5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinosoft.service.business.db.vo.PlaccountinsureddetailVo" >
    insert into PLACCOUNTINSUREDDETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serno != null" >
        SERNO,
      </if>
      <if test="serialno != null" >
        SERIALNO,
      </if>
      <if test="transrno != null" >
        TRANSRNO,
      </if>
      <if test="insurcecom != null" >
        INSURCECOM,
      </if>
      <if test="comcode != null" >
        COMCODE,
      </if>
      <if test="insuredaccno != null" >
        INSUREDACCNO,
      </if>
      <if test="paymoney != null" >
        PAYMONEY,
      </if>
      <if test="clientname != null" >
        CLIENTNAME,
      </if>
      <if test="clientidtype != null" >
        CLIENTIDTYPE,
      </if>
      <if test="clientidno != null" >
        CLIENTIDNO,
      </if>
      <if test="payresult != null" >
        PAYRESULT,
      </if>
      <if test="prtno != null" >
        PRTNO,
      </if>
      <if test="contno != null" >
        CONTNO,
      </if>
      <if test="proposalno != null" >
        PROPOSALNO,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="paymodetimes != null" >
        PAYMODETIMES,
      </if>
      <if test="selltype != null" >
        SELLTYPE,
      </if>
      <if test="authrizedyear != null" >
        AUTHRIZEDYEAR,
      </if>
      <if test="paymode != null" >
        PAYMODE,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="socketflag != null" >
        SOCKETFLAG,
      </if>
      <if test="dealsuccflag != null" >
        DEALSUCCFLAG,
      </if>
      <if test="rightflag != null" >
        RIGHTFLAG,
      </if>
      <if test="makedate != null" >
        MAKEDATE,
      </if>
      <if test="maketime != null" >
        MAKETIME,
      </if>
      <if test="modifydate != null" >
        MODIFYDATE,
      </if>
      <if test="modifytime != null" >
        MODIFYTIME,
      </if>
      <if test="standbyflag != null" >
        STANDBYFLAG,
      </if>
      <if test="bak1 != null" >
        BAK1,
      </if>
      <if test="bak2 != null" >
        BAK2,
      </if>
      <if test="bak3 != null" >
        BAK3,
      </if>
      <if test="bak4 != null" >
        BAK4,
      </if>
      <if test="bak5 != null" >
        BAK5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serno != null" >
        #{serno,jdbcType=VARCHAR},
      </if>
      <if test="serialno != null" >
        #{serialno,jdbcType=VARCHAR},
      </if>
      <if test="transrno != null" >
        #{transrno,jdbcType=VARCHAR},
      </if>
      <if test="insurcecom != null" >
        #{insurcecom,jdbcType=VARCHAR},
      </if>
      <if test="comcode != null" >
        #{comcode,jdbcType=VARCHAR},
      </if>
      <if test="insuredaccno != null" >
        #{insuredaccno,jdbcType=VARCHAR},
      </if>
      <if test="paymoney != null" >
        #{paymoney,jdbcType=DECIMAL},
      </if>
      <if test="clientname != null" >
        #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientidtype != null" >
        #{clientidtype,jdbcType=VARCHAR},
      </if>
      <if test="clientidno != null" >
        #{clientidno,jdbcType=VARCHAR},
      </if>
      <if test="payresult != null" >
        #{payresult,jdbcType=VARCHAR},
      </if>
      <if test="prtno != null" >
        #{prtno,jdbcType=VARCHAR},
      </if>
      <if test="contno != null" >
        #{contno,jdbcType=VARCHAR},
      </if>
      <if test="proposalno != null" >
        #{proposalno,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="paymodetimes != null" >
        #{paymodetimes,jdbcType=VARCHAR},
      </if>
      <if test="selltype != null" >
        #{selltype,jdbcType=VARCHAR},
      </if>
      <if test="authrizedyear != null" >
        #{authrizedyear,jdbcType=VARCHAR},
      </if>
      <if test="paymode != null" >
        #{paymode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="socketflag != null" >
        #{socketflag,jdbcType=VARCHAR},
      </if>
      <if test="dealsuccflag != null" >
        #{dealsuccflag,jdbcType=VARCHAR},
      </if>
      <if test="rightflag != null" >
        #{rightflag,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maketime != null" >
        #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="standbyflag != null" >
        #{standbyflag,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null" >
        #{bak5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinosoft.service.business.db.vo.PlaccountinsureddetailVo" >
    update PLACCOUNTINSUREDDETAIL
    <set >
      <if test="insurcecom != null" >
        INSURCECOM = #{insurcecom,jdbcType=VARCHAR},
      </if>
      <if test="comcode != null" >
        COMCODE = #{comcode,jdbcType=VARCHAR},
      </if>
      <if test="insuredaccno != null" >
        INSUREDACCNO = #{insuredaccno,jdbcType=VARCHAR},
      </if>
      <if test="paymoney != null" >
        PAYMONEY = #{paymoney,jdbcType=DECIMAL},
      </if>
      <if test="clientname != null" >
        CLIENTNAME = #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientidtype != null" >
        CLIENTIDTYPE = #{clientidtype,jdbcType=VARCHAR},
      </if>
      <if test="clientidno != null" >
        CLIENTIDNO = #{clientidno,jdbcType=VARCHAR},
      </if>
      <if test="payresult != null" >
        PAYRESULT = #{payresult,jdbcType=VARCHAR},
      </if>
      <if test="prtno != null" >
        PRTNO = #{prtno,jdbcType=VARCHAR},
      </if>
      <if test="contno != null" >
        CONTNO = #{contno,jdbcType=VARCHAR},
      </if>
      <if test="proposalno != null" >
        PROPOSALNO = #{proposalno,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        FLAG = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="paymodetimes != null" >
        PAYMODETIMES = #{paymodetimes,jdbcType=VARCHAR},
      </if>
      <if test="selltype != null" >
        SELLTYPE = #{selltype,jdbcType=VARCHAR},
      </if>
      <if test="authrizedyear != null" >
        AUTHRIZEDYEAR = #{authrizedyear,jdbcType=VARCHAR},
      </if>
      <if test="paymode != null" >
        PAYMODE = #{paymode,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="socketflag != null" >
        SOCKETFLAG = #{socketflag,jdbcType=VARCHAR},
      </if>
      <if test="dealsuccflag != null" >
        DEALSUCCFLAG = #{dealsuccflag,jdbcType=VARCHAR},
      </if>
      <if test="rightflag != null" >
        RIGHTFLAG = #{rightflag,jdbcType=VARCHAR},
      </if>
      <if test="makedate != null" >
        MAKEDATE = #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="maketime != null" >
        MAKETIME = #{maketime,jdbcType=VARCHAR},
      </if>
      <if test="modifydate != null" >
        MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="standbyflag != null" >
        STANDBYFLAG = #{standbyflag,jdbcType=VARCHAR},
      </if>
      <if test="bak1 != null" >
        BAK1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null" >
        BAK2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null" >
        BAK3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="bak4 != null" >
        BAK4 = #{bak4,jdbcType=VARCHAR},
      </if>
      <if test="bak5 != null" >
        BAK5 = #{bak5,jdbcType=VARCHAR},
      </if>
    </set>
    where SERNO = #{serno,jdbcType=VARCHAR}
      and TRANSRNO = #{transrno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinosoft.service.business.db.vo.PlaccountinsureddetailVo" >
    update PLACCOUNTINSUREDDETAIL
    set INSURCECOM = #{insurcecom,jdbcType=VARCHAR},
      COMCODE = #{comcode,jdbcType=VARCHAR},
      INSUREDACCNO = #{insuredaccno,jdbcType=VARCHAR},
      PAYMONEY = #{paymoney,jdbcType=DECIMAL},
      CLIENTNAME = #{clientname,jdbcType=VARCHAR},
      CLIENTIDTYPE = #{clientidtype,jdbcType=VARCHAR},
      CLIENTIDNO = #{clientidno,jdbcType=VARCHAR},
      PAYRESULT = #{payresult,jdbcType=VARCHAR},
      PRTNO = #{prtno,jdbcType=VARCHAR},
      CONTNO = #{contno,jdbcType=VARCHAR},
      PROPOSALNO = #{proposalno,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=VARCHAR},
      PAYMODETIMES = #{paymodetimes,jdbcType=VARCHAR},
      SELLTYPE = #{selltype,jdbcType=VARCHAR},
      AUTHRIZEDYEAR = #{authrizedyear,jdbcType=VARCHAR},
      PAYMODE = #{paymode,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      SOCKETFLAG = #{socketflag,jdbcType=VARCHAR},
      DEALSUCCFLAG = #{dealsuccflag,jdbcType=VARCHAR},
      RIGHTFLAG = #{rightflag,jdbcType=VARCHAR},
      MAKEDATE = #{makedate,jdbcType=TIMESTAMP},
      MAKETIME = #{maketime,jdbcType=VARCHAR},
      MODIFYDATE = #{modifydate,jdbcType=TIMESTAMP},
      MODIFYTIME = #{modifytime,jdbcType=VARCHAR},
      STANDBYFLAG = #{standbyflag,jdbcType=VARCHAR},
      BAK1 = #{bak1,jdbcType=VARCHAR},
      BAK2 = #{bak2,jdbcType=VARCHAR},
      BAK3 = #{bak3,jdbcType=VARCHAR},
      BAK4 = #{bak4,jdbcType=VARCHAR},
      BAK5 = #{bak5,jdbcType=VARCHAR}
    where SERNO = #{serno,jdbcType=VARCHAR}
      and TRANSRNO = #{transrno,jdbcType=VARCHAR}
  </update>
</mapper>