<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.service.business.db.dao.NewContEnterDao" >
	
	<insert id="saveCustBean" parameterType="com.sinosoft.service.business.ui.newcont.bean.TBREnterBean">
		
		<!--<selectKey keyProperty="cust_id" resultType="int" keyColumn="uid" order="AFTER">
	        select last_insert_id()
	    </selectKey>-->
		insert into t_bs_cust(uid,cust_name,cust_sex,cust_birthday,cert_type,cert_no,crt_time) 
		values(#{cust_uid,jdbcType=VARCHAR},#{tBRName,jdbcType=VARCHAR},#{tBRSex,jdbcType=CHAR},#{tBRBirth,jdbcType=VARCHAR},
		#{tBRIdCard,jdbcType=VARCHAR},#{tBRIdNumber,jdbcType=VARCHAR},#{crt_time,jdbcType=TIMESTAMP})
		
	</insert>
	  
  <insert id="saveTBREnterBean" parameterType="com.sinosoft.service.business.ui.newcont.bean.TBREnterBean" >
  	
    insert into t_bs_cont_appl(uid,cust_id,contry_code,nationality_code,email,tel,mobile,prof_code,fax,cert_long_term_flag,
    cert_vali_start_date, cert_vali_end_date, year_incom,fam_year_income, city_flag, education,marital_status, company, stature,
    weight, is_risk_eval, risk_level,drvId_type, crt_time) 
    values (#{appl_uid,jdbcType=VARCHAR},#{cust_uid,jdbcType=VARCHAR},#{tBRCountry,jdbcType=VARCHAR},#{tBRNation,jdbcType=VARCHAR},#{tBemail,jdbcType=VARCHAR},
    #{call,jdbcType=VARCHAR},#{tBphone,jdbcType=VARCHAR},#{tBRWorkNo,jdbcType=VARCHAR},#{tbPost,jdbcType=VARCHAR},
    #{tBRIdCardTrue,jdbcType=CHAR},#{tBRIdStartime,jdbcType=VARCHAR},#{tBRIdEndtime,jdbcType=VARCHAR},#{tBRGrYearIn,jdbcType=DECIMAL}, 
    #{tBRJtYearIn,jdbcType=DECIMAL},#{tBResType,jdbcType=VARCHAR},#{tBRHighEducation,jdbcType=VARCHAR},#{tBRMarry,jdbcType=VARCHAR},
    #{tBRWorkAddr,jdbcType=VARCHAR},#{tBRHigh,jdbcType=INTEGER},#{tBRWeight,jdbcType=DOUBLE},#{tBRiskAssess,jdbcType=CHAR},
    #{tBRiskType,jdbcType=VARCHAR},#{tBRDriverType,jdbcType=VARCHAR},#{crt_time,jdbcType=TIMESTAMP})
      
  </insert>
  
  <insert id="saveTBREnterBeanSelective" parameterType="com.sinosoft.service.business.ui.newcont.bean.TBREnterBean">
  	
  	insert into t_bs_cont_appl
  	<trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appl_uid != null" >
        uid,
      </if>
      <if test="cust_uid != null" >
        cust_id,
      </if>
      <if test="tBRCountry != null" >
        contry_code,
      </if>
      <if test="tBRNation != null" >
        nationality_code,
      </if>
      <if test="tBemail != null" >
        email,
      </if>
      <if test="call != null" >
        tel,
      </if>
      <if test="tBphone != null" >
        mobile,
      </if>
      <if test="tBRWorkNo != null" >
        prof_code,
      </if>
      <if test="tbPost != null" >
        fax,
      </if>
      <if test="tBRIdCardTrue != null" >
        cert_long_term_flag,
      </if>
      <if test="tBRIdStartime != null" >
        cert_vali_start_date,
      </if>
      <if test="tBRIdEndtime != null" >
        cert_vali_end_date,
      </if>
      <if test="tBRGrYearIn != null" >
        year_incom,
      </if>
      <if test="tBRJtYearIn != null" >
        fam_year_income,
      </if>
      <if test="tBResType != null" >
        city_flag,
      </if>
      <if test="tBRHighEducation != null" >
        education,
      </if>
      <if test="tBRMarry != null" >
        marital_status,
      </if>
      <if test="tBRWorkAddr != null" >
        company,
      </if>
      <if test="tBRHigh != null" >
        stature,
      </if>
      <if test="tBRWeight != null" >
        weight,
      </if>
      <if test="tBRiskAssess != null" >
        is_risk_eval,
      </if>
      <if test="tBRiskType != null" >
        risk_level,
      </if>
      <if test="tBRDriverType != null" >
        drvId_type,
      </if>
      <if test="crt_time != null" >
        crt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appl_uid != null" >
        #{appl_uid,jdbcType=VARCHAR},
      </if>
      <if test="cust_uid != null" >
        #{cust_uid,jdbcType=VARCHAR},
      </if>
      <if test="tBRCountry != null" >
        #{tBRCountry,jdbcType=VARCHAR},
      </if>
      <if test="tBRNation != null" >
        #{tBRNation,jdbcType=VARCHAR},
      </if> 
      <if test="tBemail != null" >
        #{tBemail,jdbcType=VARCHAR},
      </if>
      <if test="call != null" >
        #{call,jdbcType=VARCHAR},
      </if>
      <if test="tBphone != null" >
        #{tBphone,jdbcType=VARCHAR},
      </if>
      <if test="tBRWorkNo != null" >
        #{tBRWorkNo,jdbcType=VARCHAR},
      </if>
      <if test="tbPost != null" >
        #{tbPost,jdbcType=VARCHAR},
      </if>
      <if test="tBRIdCardTrue != null" >
        #{tBRIdCardTrue,jdbcType=CHAR},
      </if>
      <if test="tBRIdStartime != null" >
        #{tBRIdStartime,jdbcType=VARCHAR},
      </if>
      <if test="tBRIdEndtime != null" >
        #{tBRIdEndtime,jdbcType=VARCHAR},
      </if>
      <if test="tBRGrYearIn != null" >
        #{tBRGrYearIn,jdbcType=DECIMAL},
      </if>
      <if test="tBRJtYearIn != null" >
        #{tBRJtYearIn,jdbcType=DECIMAL},
      </if>
      <if test="tBResType != null" >
        #{tBResType,jdbcType=VARCHAR},
      </if>
      <if test="tBRHighEducation != null" >
        #{tBRHighEducation,jdbcType=VARCHAR},
      </if>
      <if test="tBRMarry != null" >
        #{tBRMarry,jdbcType=VARCHAR},
      </if>
      <if test="tBRWorkAddr != null" >
        #{tBRWorkAddr,jdbcType=VARCHAR},
      </if>
      <if test="tBRHigh != null" >
        #{tBRHigh,jdbcType=INTEGER},
      </if>
      <if test="tBRWeight != null" >
        #{tBRWeight,jdbcType=DOUBLE},
      </if>
      <if test="tBRiskAssess != null" >
        #{tBRiskAssess,jdbcType=CHAR},
      </if>
      <if test="tBRiskType != null" >
        #{tBRiskType,jdbcType=VARCHAR},
      </if>
      <if test="tBRDriverType != null" >
        #{tBRDriverType,jdbcType=VARCHAR},
      </if>
      <if test="crt_time != null" >
        #{crt_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  	
  	
  </insert>
  
  <!--
  <resultMap id="BaseResultMap" type="com.sinosoft.service.business.ui.newcont.bean.BsContApplBean" >
    <id column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
    <result column="cont_id" property="contId" jdbcType="VARCHAR" />
    <result column="contry_code" property="contryCode" jdbcType="VARCHAR" />
    <result column="nationality_code" property="nationalityCode" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="prof_code" property="profCode" jdbcType="VARCHAR" />
    <result column="prof_type" property="profType" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="cert_long_term_flag" property="certLongTermFlag" jdbcType="CHAR" />
    <result column="cert_vali_start_date" property="certValiStartDate" jdbcType="VARCHAR" />
    <result column="cert_vali_end_date" property="certValiEndDate" jdbcType="VARCHAR" />
    <result column="year_incom" property="yearIncom" jdbcType="DECIMAL" />
    <result column="fam_year_income" property="famYearIncome" jdbcType="DECIMAL" />
    <result column="city_flag" property="cityFlag" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="marital_status" property="maritalStatus" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="stature" property="stature" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="is_risk_eval" property="isRiskEval" jdbcType="CHAR" />
    <result column="risk_level" property="riskLevel" jdbcType="VARCHAR" />
    <result column="drvId_type" property="drvidType" jdbcType="VARCHAR" />
    <result column="health_tell" property="healthTell" jdbcType="CHAR" />
    <result column="work_tell" property="workTell" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, cust_id, cont_id, contry_code, nationality_code, email, tel, mobile, prof_code, 
    prof_type, fax, cert_long_term_flag, cert_vali_start_date, cert_vali_end_date, year_incom, 
    fam_year_income, city_flag, education, marital_status, company, stature, weight, 
    is_risk_eval, risk_level, drvId_type, health_tell, work_tell, version, del_flag, 
    crt_time, upd_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_bs_cont_appl
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_bs_cont_appl
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertSelective" parameterType="eservice.vo.BsContApplBean" >
    insert into t_bs_cont_appl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="contId != null" >
        cont_id,
      </if>
      <if test="contryCode != null" >
        contry_code,
      </if>
      <if test="nationalityCode != null" >
        nationality_code,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="profCode != null" >
        prof_code,
      </if>
      <if test="profType != null" >
        prof_type,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="certLongTermFlag != null" >
        cert_long_term_flag,
      </if>
      <if test="certValiStartDate != null" >
        cert_vali_start_date,
      </if>
      <if test="certValiEndDate != null" >
        cert_vali_end_date,
      </if>
      <if test="yearIncom != null" >
        year_incom,
      </if>
      <if test="famYearIncome != null" >
        fam_year_income,
      </if>
      <if test="cityFlag != null" >
        city_flag,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="maritalStatus != null" >
        marital_status,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="stature != null" >
        stature,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="isRiskEval != null" >
        is_risk_eval,
      </if>
      <if test="riskLevel != null" >
        risk_level,
      </if>
      <if test="drvidType != null" >
        drvId_type,
      </if>
      <if test="healthTell != null" >
        health_tell,
      </if>
      <if test="workTell != null" >
        work_tell,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="crtTime != null" >
        crt_time,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="contId != null" >
        #{contId,jdbcType=VARCHAR},
      </if>
      <if test="contryCode != null" >
        #{contryCode,jdbcType=VARCHAR},
      </if>
      <if test="nationalityCode != null" >
        #{nationalityCode,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="profCode != null" >
        #{profCode,jdbcType=VARCHAR},
      </if>
      <if test="profType != null" >
        #{profType,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="certLongTermFlag != null" >
        #{certLongTermFlag,jdbcType=CHAR},
      </if>
      <if test="certValiStartDate != null" >
        #{certValiStartDate,jdbcType=VARCHAR},
      </if>
      <if test="certValiEndDate != null" >
        #{certValiEndDate,jdbcType=VARCHAR},
      </if>
      <if test="yearIncom != null" >
        #{yearIncom,jdbcType=DECIMAL},
      </if>
      <if test="famYearIncome != null" >
        #{famYearIncome,jdbcType=DECIMAL},
      </if>
      <if test="cityFlag != null" >
        #{cityFlag,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="stature != null" >
        #{stature,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="isRiskEval != null" >
        #{isRiskEval,jdbcType=CHAR},
      </if>
      <if test="riskLevel != null" >
        #{riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="drvidType != null" >
        #{drvidType,jdbcType=VARCHAR},
      </if>
      <if test="healthTell != null" >
        #{healthTell,jdbcType=CHAR},
      </if>
      <if test="workTell != null" >
        #{workTell,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="eservice.vo.BsContApplBean" >
    update t_bs_cont_appl
    <set >
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="contId != null" >
        cont_id = #{contId,jdbcType=VARCHAR},
      </if>
      <if test="contryCode != null" >
        contry_code = #{contryCode,jdbcType=VARCHAR},
      </if>
      <if test="nationalityCode != null" >
        nationality_code = #{nationalityCode,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="profCode != null" >
        prof_code = #{profCode,jdbcType=VARCHAR},
      </if>
      <if test="profType != null" >
        prof_type = #{profType,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="certLongTermFlag != null" >
        cert_long_term_flag = #{certLongTermFlag,jdbcType=CHAR},
      </if>
      <if test="certValiStartDate != null" >
        cert_vali_start_date = #{certValiStartDate,jdbcType=VARCHAR},
      </if>
      <if test="certValiEndDate != null" >
        cert_vali_end_date = #{certValiEndDate,jdbcType=VARCHAR},
      </if>
      <if test="yearIncom != null" >
        year_incom = #{yearIncom,jdbcType=DECIMAL},
      </if>
      <if test="famYearIncome != null" >
        fam_year_income = #{famYearIncome,jdbcType=DECIMAL},
      </if>
      <if test="cityFlag != null" >
        city_flag = #{cityFlag,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null" >
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="stature != null" >
        stature = #{stature,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="isRiskEval != null" >
        is_risk_eval = #{isRiskEval,jdbcType=CHAR},
      </if>
      <if test="riskLevel != null" >
        risk_level = #{riskLevel,jdbcType=VARCHAR},
      </if>
      <if test="drvidType != null" >
        drvId_type = #{drvidType,jdbcType=VARCHAR},
      </if>
      <if test="healthTell != null" >
        health_tell = #{healthTell,jdbcType=CHAR},
      </if>
      <if test="workTell != null" >
        work_tell = #{workTell,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="crtTime != null" >
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="eservice.vo.BsContApplBean" >
    update t_bs_cont_appl
    set cust_id = #{custId,jdbcType=VARCHAR},
      cont_id = #{contId,jdbcType=VARCHAR},
      contry_code = #{contryCode,jdbcType=VARCHAR},
      nationality_code = #{nationalityCode,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      prof_code = #{profCode,jdbcType=VARCHAR},
      prof_type = #{profType,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      cert_long_term_flag = #{certLongTermFlag,jdbcType=CHAR},
      cert_vali_start_date = #{certValiStartDate,jdbcType=VARCHAR},
      cert_vali_end_date = #{certValiEndDate,jdbcType=VARCHAR},
      year_incom = #{yearIncom,jdbcType=DECIMAL},
      fam_year_income = #{famYearIncome,jdbcType=DECIMAL},
      city_flag = #{cityFlag,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      stature = #{stature,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DOUBLE},
      is_risk_eval = #{isRiskEval,jdbcType=CHAR},
      risk_level = #{riskLevel,jdbcType=VARCHAR},
      drvId_type = #{drvidType,jdbcType=VARCHAR},
      health_tell = #{healthTell,jdbcType=CHAR},
      work_tell = #{workTell,jdbcType=CHAR},
      version = #{version,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=CHAR},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  -->













</mapper>
